{% extends "/check-your-payment/v3/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
  {% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Confirm your identity
    </h1>
    <p>Before we can show you your payment information, we need to check your identity.</p>
    <p>Confirming that you are who you say you are helps us to protect your personal details.</p>
    <h3 class="govuk-heading-m">Before you continue</h3>
    <p>You will need information about your:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>phone contracts</li>
        <li>previous loans and hire purchases</li>
        <li>banking and mortgage information</li>
    </ul>
    <p>
      <a href="/idv/v4/kbv-external/consent" class="govuk-button">Continue</a>
    </p>
  </div>
</div>

{% endblock %}
