{% extends "/check-your-payment/v3/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm Your Identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="child-nino-number">What is one of your dependent children's National Insurance number?</label>
        </h1>
        <div id="child-nino-number-hint" class="govuk-hint">
          <p class="govuk-hint">	
            Enter the National Insurance number of any child included on one of your other benefit claims from the last 3 years.</p>
          <p class="govuk-hint">You can find this on a National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.</p>
        </div>
        <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" aria-describedby="child-nino-number-hint" spellcheck="false" maxlength="14">
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}