{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-with-signed-out.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Enter your bank, building society or credit union account details
{% endblock %}


{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        <form action="new-bankdetail-for-1-answers" method="post" novalidate>
          <h1 class="govuk-heading-l">
            Enter your bank, building society or credit union account details
          </h1>
<!-- Set some variables we use on this page -->
          {% set benefitNumber = data['benefitNumber'] %}
          {% set benefit = data['Which-benefits-do-you-get-1'][benefitNumber] %}
 
<!-- Header for each benefit -->

<!-- ATTENDANCE ALLOWANCE -->
          {% if benefit == 'Attendance Allowance' %}
<!-- Set dataName within here so we can save specific benefit data  -->
          {% set dataName = 'attendance-allowance-' %}

            <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
            </span>
            <h2 class="govuk-heading-m">{{ benefit }}</h2>
            
          {% endif %} 

<!-- CARER'S ALLOWANCE -->
          {% if benefit == 'Carer’s Allowance' %}
          {% set dataName = 'carers-allowance-' %}

            <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
            </span>
            <h2 class="govuk-heading-m">{{ benefit }}</h2>
          {% endif %} 

<!-- DLA  -->
          {% if benefit == 'Disability Living Allowance (DLA) for adults' %}
          {% set dataName = 'DLA-' %}

            <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
            </span>
            <h2 class="govuk-heading-m">{{ benefit }}</h2>
          {% endif %} 


<!-- ESA  -->
         {% if benefit == 'Employment and Support Allowance (ESA)' %}
         {% set dataName = 'ESA-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- IS  -->
         {% if benefit == 'Income Support' %}
         {% set dataName = 'IS-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- IIDB  -->
         {% if benefit == 'Industrial Industries Disablement Benefit' %}
         {% set dataName = 'IIDB-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- IB  -->
         {% if benefit == 'Incapacity Benefit' %}
         {% set dataName = 'IB-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- JA  -->
         {% if benefit == 'Jobseeker’s Allowance' %}
         {% set dataName = 'JA-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 
         
<!-- MA  -->
         {% if benefit == 'Maternity-Allowance' %}
         {% set dataName = 'MA-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- PIP  -->
         {% if benefit == 'Personal Independence Payment (PIP)' %}
         {% set dataName = 'PIP-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

<!-- WFP  -->
         {% if benefit == 'Winter Fuel Payment' %}
         {% set dataName = 'WFP-' %}

           <span class="govuk-caption-m">Benefit {{ benefitNumber + 1 }} of {{ data['Which-benefits-do-you-get-1'] | length }}
           </span>
           <h2 class="govuk-heading-m">{{ benefit }}</h2>
         {% endif %} 

          <div class="govuk-form-group">
            <label class="govuk-label" for="new-name-on-the-account">
              Name on the account or card
            </label>
<!-- This is where i'm using dataName for my inputs, you will need to do this on each of the inputs but then you will have unique values -->
            <input class="govuk-input" id="{{dataName}}new-name-on-the-account" name="{{dataName}}new-name-on-the-account" type="text" spellcheck="false" autocomplete="name" value="{{ data['{{dataName}}new-name-on-the-account'] }}">
          </div>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with accents or special characters
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">If the name has an accent or special character, choose the same letter without the accent. For example:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>instead of Zöe, type Zoe</li>
                <li>instead of José, type Jose</li>
              </ul>
            </div>
          </details>
          <div class="govuk-form-group">
            <label class="govuk-label" for="new-sort-code">
              Sort code
            </label>
            <div id="sort-code-hint" class="govuk-hint">
              Must be 6 digits long. You can use spaces, hypens or dashes
            </div>
            <input class="govuk-input govuk-input--width-5" id="{{dataName}}new-sort-code" name="{{dataName}}new-sort-code" type="text" spellcheck="false" aria-describedby="sort-code-hint" inputmode="numeric" value="{{ data['{{dataName}}new-sort-code'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="new-account-numberr">
              Account number
            </label>
            <div id="account-number-hint" class="govuk-hint">
              Must be between 6 and 8 digits long
            </div>
            <input class="govuk-input govuk-input--width-10" id="{{dataName}}new-account-number" name="{{dataName}}new-account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric" value="{{ data['{{dataName}}new-account-number'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="new-roll-number">
              Building society roll number or credit union membership number (if you have one)
            </label>
            <div id="roll-number-hint" class="govuk-hint">
              Find this on your card, statement or passbook
            </div>
            <input class="govuk-input govuk-input--width-10" id="{{dataName}}new-roll-number" name="{{dataName}}new-roll-number" type="text" spellcheck="false" aria-describedby="roll-number-hint" value="{{ data['{{dataName}}new-roll-number'] }}">
          </div>
          <input type="hidden" name="{{dataName}}done" name="{{dataName}}done" value="true">
          <input type="hidden" id="oneAccount" name="oneAccount" value="">

          
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        </div>
    </div>

{% endblock %}
