index.html
{% extends "layout.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="../../../testindex.html">Back</a> 
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Scope 3</span>
      Change your bank details
    </h1>
    <p>This MVP lets users change their bank details and view their personal details.</p>
    <p>We’ve iterated these designs during the alpha and beta phase.</p>
    <p><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1656931506432/5ad01c0da9645dd2678c81e1723ca39a8763b647?sender=uce3c70a63d831a88364d6151" target="_blank">View the design iteration board on Mural.</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testiteration5.html">Iteration 5</a></h2>
    <strong class="govuk-tag">V5</strong> &nbsp; <strong class="govuk-tag govuk-tag--green">Beta</strong> &nbsp; <strong class="govuk-tag govuk-tag--blue"><I></I>In progress</strong><br>
    <br>
    <p>Details about iteration 5 TBC</p><div class="govuk-warning-text">

        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The dynamic content in this design is  for user testing only
        </strong>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            General updates:
            <li>tweaks to improve accessibility after using WAVE accessibility testing plugin</li>
            <li>H1 and H2</li>
            <li>Check your answers page has one ‘change’ link and hidden content</li>
            <li>Eligibility questions</li>
            <li>merged UK account questions after user research round 14</li>
            <li>users who answer ‘I’m not sure’ to the eligibility questions will get signposted to the phones</li>
          </ul>
        </div>
      </details>
      <br>
        <p>7 September 2023 - today</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testiteration4.html">Iteration 4</a></h2>
    <strong class="govuk-tag">V4</strong> &nbsp; <strong class="govuk-tag govuk-tag--turquoise">Beta</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>
    <p>Iterations based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">feedback from the external alpha assessment</a> on 5 July 23, new parts of the journey, plus design ideas and the graveyard.</p>
    
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The dynamic content in this design is  for user testing only
        </strong>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>signposting for users who want to change personal details</li>
            <li>content tweaks on eligibility signposting pages</li>
            <li>users who get multiple benefits can now get them paid into multiple bank accounts</li>
            <li>dynamic content for user testing only</li>
            <ul><li>when user selects checkbox with names of benefits they get, these benefits appear later in journey to make user testing more authentic</li></ul>
          </ul>
        </div>
      </details>
      <br>
        <p>21 July 2023 - 31 August 2023</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testiteration3.html">Iteration 3</a></h2>
    <strong class="govuk-tag">V3</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>
    <p>Iterations based on <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 13</a> and some <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">mock assessment design recommendations</a>.</p>

    <p>We used this design as a demo for our alpha assessment on 5 July 2023, which we passed.  We haven’t tested this version with users.</p>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>new Welsh toggle</li>
            <li>new ‘how did you find out about this service?’ beta eligibility question</li>
            <li>added ‘not eligible’ signposting pages for:</li>
            <ul><li>users who haven’t been invited in beta</li>
            <li>users who want to change bank details for ‘someone else’</li>
            <li>users who get ‘a different benefit’ like Universal Credit only</li>
            <li>users who don’t have a UK bank account</li>
            </ul>
            <li>new eligibility results page for users who have a payment due</li>
            <li>added name of benefit and last digits of bank details to personal details</li>
            <li>iterated ‘do you need payments to go into one account’ content</li>
            <li>iterated ‘before you change account details’ page</li>
            <li>new signposting page if user decides not to change details while signed in</li>
            <li>iterated ‘what happens next’ on confirmation page based on payment process and robot times</li>
            <li>new ‘save or print’ link on confirmation page</li>
          </ul>
        </div>
      </details>
      <br>
        <p>2 June 23 - 29 June 2023</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testiteration2.html">Iteration 2</a>  </h2>
    <strong class="govuk-tag">V2</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
   
    <br>

    <p>Second design of the change bank details feature for user testing. This design is based on findings from <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 11</a>, and user research round 12.</p>
    <p>This design only includes the list version of the homepage after user research shown it was more user-friendly.</p>
    
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            
            <li>eligibility questions based on MVP scope and current tech,</li>
            including:
            <ul>
              <li>what do you need to change?</li>
              <li>whose payments are you changing?</li>
              <li>which benefits do you get?</li>
              <li>where do your benefits get paid?</li>
              <li>do your benefits get paid into a UK bank account?</li>
              <li>is your new account based in the UK?</li>
              <li>Do you have a payment due within the next 6 working days?</li>
            </ul>
            <li>the homepage using the card design has now been eliminated</li>
            <li>brief eligibility results page</li>
            <li>list design homepage now only includes MVP features: change bank details and view personal details</li>
            <li>new ‘which benefits do you need to change?’ page</li>
            <li>user can change bank details for more than one benefit</li>
            <li>new ‘do you need payments to go into one bank?’</li>
            <li>new managing expectations ‘before you change bank details’ page</li>
            <li>removed ‘enter your current or existing bank details’ page</li>
            <li>simplified ‘check your answers’ page</li>
            <li>slightly more context about ‘what happens next’ on confirmation page</li>
          </ul>
        </div>
      </details>
      <br>
        <p>We started iterating this design in sprint 25 and tested in sprint 33, <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 13</a>.</p>
        <p>1 Feb 23 - 9 May 2023</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testhomedesignsurvey.html">Homepage design survey</a></h2>
    <strong class="govuk-tag">V1.1</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>

    <p>We tested two homepage designs in a Citizen Me user research study, to understand which homepage is more user-friendly.

    <p>Second iteration of the card designs based on findings from <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 11</a>, plus the same lists homepage used in the last round of research.</p>
    
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
           <li>radios have now been eliminated, and we are only testing the card and lists design</li>
           <li>cards design now has all 6 features on homepage, instead of 3, based on findings from <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 11</a></li>
           <li>‘Thank you for testing’ end pages if user selects something other than what we have asked</li>
          </ul>
        </div>
      </details>
      <br>
        <p>We completed this design in sprint 26 and the survey ran in sprint 31, user research round 12. The outcomes of user research suggested the list design was more user friendly.</p>
        <p>1 Feb 23 - 9 May 2023</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l"><a href="testiteration1.html">Iteration 1</a></h2>
    <strong class="govuk-tag">V1</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>
    
    <p>First iteration of the new MVP for the change of bank details feature.</p>

    <p>We tested three homepage designs, including radios, lists and cards as a continuation of our previous work on the ‘change address’ MVP.</p>

    <p>Technical constraints meant that we had to ask users for their ‘old’ bank details before they could provide new ones.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>the start page reflects the vision of the service, not the MVP yet</li>
            <li>user can select just one benefit to change bank details for</li>
            <li>user needs to enter existing bank details before providing new ones (tech constraint)</li>
            <li>enter your new bank details screen</li>
            <li>check your answers before sending page</li>
            <li>basic confirmation page while waiting for business process</li>
          </ul>
        </div>
      </details>
      <br>
        <p>This design was created in Alpha sprint 23 and tested in sprint 25, <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1684091549331/fdc654b217d7b2824cf14c14c29eaef7dbc717f2?sender=uce3c70a63d831a88364d6151" target="_blank">user research round 11</a>.</p>
        <p>14 Dec 2022 - 31 Jan 2023</p>
        
        <br><br>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

    <!--
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change your bank details iteration 1  and 3 homepages
      </h1>
      <p class="govuk-body">First iteration of the new MVP for the change of bank details feature. </p>
      <p class="govuk-body govuk-!-margin-bottom-6">These designs were created in Alpha sprint 23 and tested in sprint 25, user research round 11.</p>
      <p class="govuk-body">Dates: Dec 14 2022 - Jan 31 2023</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Change your bank details and homepage testing
      </h2>
    </div>
  </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.01</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="radio-homepage/index">Change bank details with radio homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a radio homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (radios)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  -->
<!--
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.02</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="list-homepage/index">Change bank details with list homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a list homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (lists)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  -->
<!--
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.03</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="card-homepage/index">Change bank details with cards homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a cards homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (cards)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  

              </div>
            </div>-->




{% endblock %}