{% extends "layout.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="testindex.html">Back</a> 
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Change your bank details</span>
      Iteration 5
    </h1>

    <br>
    <p>Details about iteration 5 purpose</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>
      
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Iteration 5: user testing</h1>
    <strong class="govuk-tag">V5.0</strong> &nbsp; <strong class="govuk-tag govuk-tag--green">Beta</strong> &nbsp; <strong class="govuk-tag govuk-tag--blue"><I></I>Complete</strong><br>
    <br>
    <p>Iterations based on user testing round 14,  plus new parts of the journey.</a></p>
    
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The dynamic content in this design is  for user testing only
        </strong>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>moved ‘check if you can use this service’ content from page 2 to page 1</li>
            <li>removed change links on <a href="#">‘check your answers’</a> page and replaced with one high-level change link and included hidden text</li>
            <li>removed DLA Child option from <a href="#">‘who does the payment belong to?’</a> page after finding out new information that this process isn’t possible</li>
            <li><a href="#">merged UK bank accounts question</a> as some users couldn’t tell difference between two different questions using the ‘one thing per page’ approach</li>
            <li>removed <a href="#">‘where do your benefits get paid?’</a> question because it’s less valuable now we have merged the two UK account details questions</li>
          </ul>
        </div>
      </details>
      <br>
      <br>
        <p>We created this design in sprint 41 and tested it in user research round 15.</a></p>
        <p>21 July 2023 - 31 August 2023</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h1 class="govuk-heading-m">Iteration 5: ideas and design graveyard</h1>
        <strong class="govuk-tag">V4.1</strong> &nbsp; <strong class="govuk-tag govuk-tag--green">Beta</strong> &nbsp; <strong class="govuk-tag govuk-tag--blue"><I></I>Complete</strong><br>
        <br>
        <p>View  designs that we decided not to take into user testing.</p>

        <p>Some are discarded ideas for reference, and not part of the current journey.<br>
          Some designs are concepts to continue in future sprints.</p>
        
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What's new?
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>xxxx</li>
              </ul>
            </div>
          </details>
          <br>
          <br>
          <p>7 September 2023 - today</p>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h1 class="govuk-heading-m">Iteration 5: Eligibility Journey</h1>
          <strong class="govuk-tag">V5</strong> &nbsp; <strong class="govuk-tag govuk-tag--green">IN PROGRESS</strong><br>
          <br>
          <p>View  designs that we decided not to take into user testing.</p>
  
          <p>Some are discarded ideas for reference, and not part of the current journey.<br>
            Some designs are concepts to continue in future sprints.</p>
            <a href="../../V5/iteration-5/eligibility/test-eligibility-questions/how-did-customer-find-out-about-this-service.html" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>
          <br>
          <p>30 November 2023 - today</p>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
</div>
  
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">
        Past project names
      </h3>
<p>Online self-service has had several project names, including:</p>
<ul class="govuk-list govuk-list--bullet">
<li>Customer View</li>
<li>Shared Channels Experience (SCE) Discovery</li>
<li>CxP Discovery</li>
</ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Online Identity and Verification (OIDV)
      </h2>
      <p>If the Online identity and Verification (OIDV) journey is embedded into the Customer View designs you are viewing, you may be asked for authentication codes. The OIDV authentication codes are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Register email: 283194</li>
        <li>Register mobile: 969862</li>
        <li>Sign in mobile: 471350</li>
      </ul>
    </div>
  </div>-->
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Alpha designs
      </h2>
    </div>
  </div>
-->
<!--
  <div class="govuk-grid-row govuk-!-padding-top-3" >
    <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
        <h1 class="govuk-heading-m"><a href="e-one/start">Experiment 1 </a>  </h1>


        <strong class="govuk-tag govuk-tag govuk-tag--red">
          Experimental
        </strong>
        <br><br>
        <p>Initial conceptual prototype to explore assumptions:  </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>It is more convenient for a user to self-serve than wait in a telephone queue </li>
          <li>That multi-benefit users would benefit from finding information in one place </li>
        </ul>
        <p></p>

    </div>



  </div>
-->
<!--
      <div class="govuk-grid-row govuk-!-margin-top-3" >
        <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
            <h1 class="govuk-heading-m"><a href="e-two/information-channels">Experiment 2 </a>  </h1>


            <strong class="govuk-tag govuk-tag govuk-tag--red">
              experimental
            </strong>
            <br><br>
            <p>Iteration of initial conceptual prototype </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>It is convinient to self-serve than wait in long phone queue </li>
              <li>That users from multi-benefits would benefit from using information at a place.</li>
            </ul>
            <p></p>

        </div>
      </div>
    -->
<!--
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
                  <h1 class="govuk-heading-m"><a href="e-three/start">Experiment 3  </a>  </h1>


                  <strong class="govuk-tag govuk-tag govuk-tag--red">
                    experimental
                  </strong>
                  <br><br>
                  <p>Conceptual prototype to test hypothesis </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>To prove the reverse hypothesis that people prefer to receive benefit from separate online services than a single place where everything is together so that we remove any unconscious bias in the first two experiments.

</li>
                  </ul>
                  <p></p>

              </div>
            </div>
          -->
  <!--
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
                  <h1 class="govuk-heading-m"><a href="e-four/scenario">Experiment 4 and Experiment 5 and Experiment 6</a>  </h1>


                  <strong class="govuk-tag govuk-tag govuk-tag--red">
                    experimental
                  </strong>
                  <br><br>
                  <p>Conceptual prototype to test hypothesis </p>
                  <ul class="govuk-list govuk-list--bullet">
<li>To prove the reverse hypothesis that people prefer to receive benefit from separate online services than a single place where everything is together so that we remove any unconscious bias in the first two experiments.
</li>

<li>We believe that providing payment, LoE and contact information to claimants having multiple benefits will decrease call volumes to DWP about payments and general information queries.</li>


                  </ul>
                  <p></p>
                  <p></p>
                  <p>Experiment 5 hypothesis </p>
<p>People on multiple benefits prefer to to obtain information about their benefits by phoning individual benefit lines, instead of a single online service with information about all benefits in one place
</p>

              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:2px solid #999999;" >
                  <h1 class="govuk-heading-m"><a href="e-five/scenario">DWP Benefits (ESA and CA)  </a>  </h1>


                  <strong class="govuk-tag govuk-tag govuk-tag--red">
                    experimental
                  </strong>
                  <br><br>
                  <p>Conceptual prototype to test hypothesis </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>To prove the reverse hypothesis that people prefer to receive benefit from separate online services than a single place where everything is together so that we remove any unconscious bias in the first two experiments.

</li>
                  </ul>
                  <p></p>

              </div>
            </div>


            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">Check your payments and get a proof of benefit letter</h2>-->
                <!--  <section class="govuk-!-margin-top-3">
                    <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                      <strong class="govuk-tag">V1.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="customer-view/scenario">All-in-one design</a>  </h1>
                        <p>The all-in-one design is more like a traditional homepage with all information on one interface.</p>
                        <p>We iterated and tested this design with our users during Alpha sprint 1 - 9.</p>
                        <p>Dates: Feb 9 2022 - June 17 2022</p>
                    <!--
                    <ul class="govuk-list govuk-list--bullet">
                    <li>The all-in-one design lets users view all their benefit information in one place</li>
                    <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                    <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                    </ul>
                    
                    </div>
                  </section>

                <section class="govuk-!-margin-top-3">
                  <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                    <strong class="govuk-tag">V2.1</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                    <h1 class="govuk-heading-m"><a href="sprint-9/scenario">Task-based design</a>  </h1>
                    <p>The task-based design lets users select individual tasks they want to do up front.</p>
                    <p>We iterated and tested this design during Alpha sprint 2 - 9</p>
                    <p>Dates: Feb 23 2022 - June 17 2022</p>

                  </div>
                </section>

                <section class="govuk-!-margin-top-3">
                  <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                    <strong class="govuk-tag">V2.2</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                    <h1 class="govuk-heading-m"><a href="sprint-2/scenario">Task-based design 2</a>  </h1>
                    <p>This is an iteration of the V2.1 task-based design that we iterated during Alpha sprint 9 - 10.</p>
                    <p>We made iterations across the entire journey, including design changes to help users navigate back to the menu and to test how users sign out of the service.</p>
                    <p>Dates: June 1 2022 - June 29 2022</p>
                  </div>
                </section>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">Change your address</h2>
                  <section class="govuk-!-margin-top-3">
                    <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                      <strong class="govuk-tag">V3.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                      <h1 class="govuk-heading-m"><a href="V3">Change your address with list homepage</a></h1>
                      <p>This is an iteration of the task-based design, showing the homepage as a list instead of radios.</p>
                      <p>This design shows the early investigations of the change your address feature, which we didn’t test with users as we changed scope.</p>
                      <p>We iterated this design during sprint 19.</p>
                      <p>Dates: October 19 2022 - Oct 31 2022</p>
                    </div>
                  </section>

                  <section class="govuk-!-margin-top-3">
                    <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                      <strong class="govuk-tag">V3.1</strong> <strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                      <h1 class="govuk-heading-m"><a href="V3-1">Change your address with cards homepage</a>  </h1>
                      <p>This is an iteration of the task-based design, showing the homepage as cards instead of radios or a list.</p>
                      <p>This design shows the early investigations of the change your address feature, which we didn’t test with users as we changed scope.</p>
                      <p>We iterated this design during sprint 19.</p>
                      <p>Dates: October 19 2022 - Oct 31 2022</p>
                    </div>
                  </section>
                  <section class="govuk-!-margin-top-3">
                    <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                      <strong class="govuk-tag">V3.3</strong> <strong class="govuk-tag govuk-tag--yellow">Delayed</strong><br>
                      <h1 class="govuk-heading-m"><a href="V3-2">Three homepage options</a>  </h1>
                      <p>First iteration of three homepage designs, including:</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>radios</li>
                        <li>lists</li>
                        <li>cards</li>
                      </ul>
                      <p>This design was created in Alpha sprint X.</p>
                      <p>Dates: MONTH 2022 -MONTH 2023</p>
                    </div>
                  </section>
                </div>
              </div>
              <div class="govuk-grid-row govuk-!-margin-top-3">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">Change your bank details</h2>

                    <section class="govuk-!-margin-top-3">
                      <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                        <strong class="govuk-tag">V4.0</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="/V4/Change-bank-details-1-and-three-homepages/index.html">Change bank details - user testing 1</a>  </h1>
                        <p>First iteration of the new MVP for the change of bank details feature.</p>
                        <p>We tested three homepage designs, including:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>radios</li>
                          <li>lists</li>
                          <li>cards</li>
                        </ul>
                        <p>This design was created in Alpha sprint 23 and tested in sprint 25, user research round 11.</p>
                        <p>Dates: Dec 14 2022 - Jan 31 2023</p>
                      </div>
                    </section>
                    <section class="govuk-!-margin-top-3">
                      <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                        <strong class="govuk-tag">V4.1</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="/V4-1/Change-your-bank-details-and-2-homepages/index.html">Citizen Me survey - homepage testing</a> </h1>
                        <p>Second iteration of the card designs based on findings from user research round 11, plus the same lists homepage used in the last round of research.</p>
                        <p>We tested two homepage designs in a Citizen Me user research study, including:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>lists</li>
                          <li>cards</li>
                        </ul>
                        <p>We completed this design in sprint 26 and the survey ran in sprint 31. The outcomes of user research suggested the list design was more user friendly.</p>
                        <p>dates: Feb 1 2023 - April 25 2023</p>
                      </div>
                    </section>
                    <section class="govuk-!-margin-top-3">
                      <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                        <strong class="govuk-tag">V4.2</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="V42_2-Change-bank-details-user-testing-2/index.html.html">Change bank details - user testing 2</a> </h1>
                        <p>Second design of the change bank details feature for user testing. This design only includes the list version of the homepage.</p>
                        <p>Based on new information, this design now has:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>eligibility questions</li>
                          <li>content to manage user expectations</li>
                          <li>ways to help the user update bank details for more than one benefit</li>
                        </ul>
                        <p>We started iterating this design in sprint 25 and tested in sprint 33, user research round X.</p>
                        <p>Dates: [awaiting date] - [awaiting date]</p>
                      </div>
                    </section>
                    <section class="govuk-!-margin-top-3">
                      <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                        <strong class="govuk-tag">V4.2</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                        <h1 class="govuk-heading-m"><a href="V4_3-Change-bank-details-user-testing-3/index.html">Change bank details - iteration 3 (Alpha)</a> </h1>
                        <p>Iterations based on user research round 13 and some mock assessment design recommendations.</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>bullet 1</li>
                          <li>bullet 2</li>
                          <li>bullet 3</li>
                        </ul>

                        <p>Dates: [awaiting date] - [awaiting date]</p>
                      </div>
                    </section>
                    <section class="govuk-!-margin-top-3">
                      <div class="govuk-!-padding-4" style="border:2px solid #999999;">
                        <strong class="govuk-tag">V5</strong> <strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                        <h1 class="govuk-heading-m"><a href="V5-dynamic-prototype.html">Change bank details - iteration 4 (UR round 14)</a> </h1>
                        <p>Dynamic iterations based on user research round 13 and some mock assessment design recommendations.</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>bullet 1</li>
                          <li>bullet 2</li>
                          <li>bullet 3</li>
                        </ul>

                        <p>Dates: [awaiting date] - [awaiting date]</p>
                      </div>
                    </section>
                  </div>
                </div>-->



{% endblock %}