{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Contact us</h1>
      <p class="govuk-body govuk-!-margin-bottom-6">To tell us about your account changes over the phone,<br><a href="#" class="govuk-link">contact your benefit office (opens in a new tab)</a>.<p>
      <p class="govuk-body"><a href="list-home-page.html" class="govuk-link">Go back to the home page</a></p>


    </div>
  </div>

{% endblock %}
