{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-with-signed-out.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Do you need payments to go into one bank account?
{% endblock %}


{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Benefits you need to change
      </h1>
      <p class="govuk-body">You selected:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for benefit in data['Which-benefits-do-you-get-1'] %}
        <li>{{ benefit }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">You can choose whether your benefit payments go into one account or into separate accounts.</p>
      <form action="Before-you-change-bank-details" method="post" novalidate>
        <div class="govuk-form-group govuk-!-margin-top-6">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              How do you need your benefits to be paid?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="payments-into-one-bank-account" type="radio" value="into one account">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Pay my benefits into one bank account
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="payments-into-one-bank-account" type="radio" value="into separate account">
                <label class="govuk-label govuk-radios__label" for="no">
                  Pay my benefits into separate accounts
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <input type="hidden" id="oneAccount" name="oneAccount" value="">
        <input type="hidden" name="{{dataName}}done" name="{{dataName}}done" value="">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
