{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  You can change your bank details using this service
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">If you’re signing in for the first time</h1>
      <h2 class="govuk-heading-m">If you’re signing in for the first timed</h2>
      <p class="govuk-body"> You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
      </ul>
      <p class="govuk-body">To keep your information secure, we will ask you security questions to prove your identity. We may ask for details about your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>UK passport</li>
        <li>payslip or P60</li>
        <li>Self Assessment</li>
        <li>tax credits</li>
        <li>credit file</li>
      </ul>
      <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
