{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  You can use this service
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You can use this service</h1>
      <p class="govuk-body">Based on your answers, you can change your account details using this service.</p>
      <h2 class="govuk-heading-m">You will need</h2>
      <p class="govuk-body">Your bank, building society or credit union account details, or the details of a family member or trusted friend, including the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>account number</li>
        <li>sort code</li>
        <li>roll number if you have a building society account</li>
        <li>membership number if you have a credit union</li>
      </ul>
      <h2 class="govuk-heading-m">Building society or credit unions</h2>
      <p class="govuk-body"> You will need the roll number if you have a building society account.</p>
      <p class="govuk-body"> If you have a credit union account, you will need the membership number.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body"> To keep your information secure, we will ask you security questions and you will need to register to use the service.</p>

      <a href="../OIDV/register/start.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
