{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  You can use this service
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Based on your answers, you can use this service</h1>
      <p class="govuk-body govuk-!-margin-bottom-6">To keep your information secure, we will ask you security questions. You will need to register to use the service.</p>
      <a href="../OIDV/register/start.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
