
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change your bank details  and 2 homepages
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Homepage testing
      </h2>
    </div>
  </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.01</strong> <strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="list-homepage/index">Change bank details with list homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a list homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (lists)</li>
                        <li>Change your bank details</li>
                        <li>Journey end for happy path</li>
                        <li>Journey end for unhappy path</li>
                      </ul>
                    </div>
                  </details>
                  <!--
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  -->

              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.02</strong> <strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="card-homepage/index">Change bank details with cards homepage</a>  </h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a cards homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (cards)</li>
                        <li>Change your bank details</li>
                        <li>Journey end for happy path</li>
                        <li>Journey end for unhappy path</li>
                      </ul>
                    </div>
                  </details>

              </div>
            </div>




{% endblock %}
