{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Where do your benefits get paid?
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="eligibility-question-5" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do your benefits get paid?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Bank-account" name="Where-do-your-benefits-get-paid_withOIDV" type="checkbox" value="Bank account">
                <label class="govuk-label govuk-checkboxes__label" for="Bank-account">
                  Bank account
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Building-society" name="Where-do-your-benefits-get-paid_withOIDV" type="checkbox" value="Building society">
                <label class="govuk-label govuk-checkboxes__label" for="Building-society">
                  Building society
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Credit-union-account" name="Where-do-your-benefits-get-paid_withOIDV" type="checkbox" value="Credit union account">
                <label class="govuk-label govuk-checkboxes__label" for="Credit-union-account">
                  Credit union account
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="Payment-card-or-voucher-code" name="Where-do-your-benefits-get-paid_withOIDV" type="checkbox" value="Payment card or voucher code">
                <label class="govuk-label govuk-checkboxes__label" for="Payment-card-or-voucher-code">
                  Payment card or voucher code
                </label>
                <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                  Also called the Payment Exception Service (PES).
                </div>
              </div>
              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="not-sure" name="Where-do-your-benefits-get-paid_withOIDV" type="checkbox" value="Not-sure">
                <label class="govuk-label govuk-checkboxes__label" for="not-sure">
                  I’m not sure
                </label>
              </div>

            </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
