{% extends "layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
  {% include 'includes/phase-banner.njk' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Confirm your identity
    </h1>
    <p>Before we can show you your payment information, we need to check your identity.</p>
    <p>Confirming that you are who you say you are helps us to protect your personal details.</p>
    <p>We will help you choose the best way of doing this.</p>
    <h3 class="govuk-heading-m">Before you continue</h3>
    <p>You will need your:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>driving licence, if you have one</li>
        <li>benefits information, such as a decision letter</li>
    </ul>
    <p>
      <a href="/idv/default/dvla-knockout" class="govuk-button">Continue</a>
    </p>
  </div>
</div>

{% endblock %}