{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
    Sign in - Service Name - GOV.UK
{% endblock %}


{% block beforeContent %}
{% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
{% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
<!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form action="sign-in-2fa" method="post">

              <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                  <h1 class="govuk-fieldset__heading">
                    Sign in
                  </h1>

                </legend>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="email-address">
                    Email address
                  </label>

                <input class="govuk-input govuk-!-width-full-width" id="email-address" name="email-address" type="text">

                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="user-password">
                    Password
                  </label>

                <input class="govuk-input govuk-!-width-full-width" id="user-password" name="user-password" type="password">

                </div>

              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </fieldset>


                <p>
                    <a href="register/start">Register now</a> if you have not used this service before.
                </p>
            </form>


        </div>
        <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Problems signing in</h2>

              <ul class="govuk-list signin">
                  <li>
                      <a href="reset-password/start" class="govuk-link">I forgot my password</a>
                  </li>
                  <li>
                      <a href="account-recovery/start-new-email" class="govuk-link">I cannot access the email I use to sign in</a>
                  </li>
              </ul>
          </div>
  </div>

{% endblock %}
