
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change bank details - user testing 2
      </h1>
    </div>
  </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.02</strong><strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="Change-bank-details-user-testing-2/Eligibility-questions/check-if-you-can-change-bank-details">Change bank details user testing 2</a></h1>
                  <p class="govuk-body-l">Second design of the change bank details journey for user testing.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.03</strong><strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="Change-bank-details-with-OIDV-journey-not-tested/Eligibility-questions/check-if-you-can-change-bank-details">Change bank details with OIDV journey - not tested</a></h1>
                  <p class="govuk-body-l">Second design of the change bank details journey with the OIDV. </p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Online Identity and Verification (OIDV)</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>

{% endblock %}
