{% set isHMRCPage = true %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
We need to ask some questions to prove your identity
{% endblock %}

{% block serviceName %}
{% endblock %}


{% block content %}

<!-- Redirects to services via this page -->
{% if data['service-name'] === data['access-to-work-service-name2'] %}
<script>
    window.location.href = '/idv/v5/kbv/previous-address'
</script>
{% elseif data['service-name'] === data['repay-my-debt-service-name'] %}
<script>
    window.location.href = 'https://check-what-owe.herokuapp.com/scenario-24/index'
</script>
{% elseif data['service-name'] === data['access-to-work-service-name'] %}
<script>
    window.location.href = 'https://atw-payment-claims-grant.herokuapp.com/alpha/post-login-routing?email={{ data["register-email-address"] }}'
</script>
{% elseif data['service-name'] === data['shared-prosperity-fund-service-name'] %}
<script>
    window.location.href = 'http://localhost:3000/personal-info'
</script>
{% elseif data['service-name'] === data['carers-service-name'] %}
<script>
    window.location.href = 'https://cap-2-tfgr.herokuapp.com/poc/E2E/cya'
</script>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Redirects to services via this page -->
    {% if data['service-name'] === data['pension-credit-service-name']  %}
      <form method="post" action="https://pc-prototype.herokuapp.com/idv-0-1/mvp/start-check">
    {% elseif data['service-name'] === data['apply-for-pip-service-name']  %}
      <form method="post" action="https://pip-starting.herokuapp.com/v2idv/address">
    {% elseif data['service-name'] === data['carers-service-name'] %}
      <form method="post" action="/carers/check-information">
    {% else %}
      <form method="post" action="">
    {% endif %}

      <h1 class="govuk-heading-xl">
        Identity check complete
      </h1>

      <p class="govuk-body-l">You have completed the identity check successfully.</p>

      <input type="submit" value="Continue" class="govuk-button">

    </form>
  </div>
</div>
{% endblock %}