{% extends "customer-view/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Confirm your identity</span>
              What is the address of your doctor's surgery?
            </h1>
          </legend>
          <div id="gp-address-hint" class="govuk-hint"></div>
          <div class="govuk-form-group">
            <span id="gp-name-hint" class="govuk-hint">
              Enter a postcode to search for the address. You can find this on a fit note or letter from your doctor.
            </span>
            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="gp-address-postocde" name="gp-address-postocde" type="text" maxlength="10">
          </div>
        </fieldset>
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Find address</button>

    </form>

  </div>
</div>

{% endblock %}