{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/header-with-signed-out.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">We are updating your new bank details</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
      <p class="govuk-body">Your account details will change on your records within the next two working days.</p>
      <p class="govuk-body">If your benefits stay the same and you are not expecting any changes to your claim, any future payments will go into your new account.</p>
      <p class="govuk-body"><a href="list-home-page.html" class="govuk-link">Go back to the home page</a></p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Help improve this service</h2>
      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
