{% extends "e-four/common/header-e-four.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Thank you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Thank you.</h1>
      </div>

      <p>You can now safely close this browser window. </p> <p> You can use <a href="/e-four/your-benefit-information">find out about my DWP benefits</a> service to access information about all your DWP benefits and other awards.      </p>



    </div>
  </div>

{% endblock %}
