{% extends "customer-view/common/header-e-four-c2.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  How would you like to get your proof of benefits letter
{% endblock %}
{% block beforeContent %}
<!--Crumble menu-->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/sprint-2/digital-service/pob-format-selection" method="post">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="benefit-information-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    How would you like to get your proof of benefit letter?
                  </h1>
            </legend>

            <span class="govuk-caption-l">
              Select one option.
            </span>
            <br>
            <br>

            <!--
            <div class="govuk-inset-text">
              To keep your information secure, we need to verify your identity when you sign in.
            </div>
            -->

<div class="govuk-radios">


<!--Digital-->
<div class="govuk-radios__item govuk-!-padding-bottom-3">
  <input class="govuk-radios__input" id="pob-format-selection" name="pob-format-selection" type="radio" value="digital-copy" aria-describedby="pob-format-selection-item-hint">
  <label class="govuk-label govuk-radios__label" for="pob-format-selection">
    View and download a letter online
  </label>
<!--  
  <div id="pob-item-hint" class="govuk-hint govuk-radios__hint">
    Placeholder text
  </div>
-->
</div>

<!--Printed copy-->
<div class="govuk-radios__item govuk-!-padding-bottom-3">
  <input class="govuk-radios__input" id="pob-format-selection-2" name="pob-format-selection" type="radio" value="printed-copy" aria-describedby="pob-format-selection-2-item-hint">
  <label class="govuk-label govuk-radios__label" for="pob-format-selection-2">
    Get a printed letter in the post
  </label>
<!--
  <div id="pob-2-item-hint" class="govuk-hint govuk-radios__hint">
    Placeholder text
  </div>
-->
</div>

<!--Shareable code-->
<div class="govuk-radios__item govuk-!-padding-bottom-3">
  <input class="govuk-radios__input" id="pob-format-selection-3" name="pob-format-selection" type="radio" value="shareable-code" aria-describedby="pob-format-selection-3-item-hint">
  <label class="govuk-label govuk-radios__label" for="pob-format-selection-3">
    Share your letter with someone online
  </label>
<!--
  <div id="pob-2-item-hint" class="govuk-hint govuk-radios__hint">
    Placeholder text
  </div>
-->
</div>

  </div>
</div>

            </div>

          </fieldset>
      </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>



{% endblock %}
