{% extends "customer-view/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-label-wrapper">
              <span class="govuk-caption-l">Confirm your identity</span>
              <label for="pip-component" class="govuk-label govuk-label--l">Which parts of PIP do you claim?</label>
            </h1>
          </legend>
          <span id="pip-component-hint" class="govuk-hint">
            This information is in the decison letter you received when you started claiming. You can also <a href="https://www.gov.uk/pip/eligibility" target="blank">check which part of PIP you might be getting on GOV.UK</a>.
          </span>
          <span id="pip-component-hint" class="govuk-hint">
            For example, enter mobility.
          </span>
          <input class="govuk-input" id="pip-component" name="pip-component" type="text" spellcheck="false" aria-describedby="pip-component-hint">
        </fieldset>
      </div>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can stay on this page for one hour if you need to get some information.</p>
          <p>If you need more time, you can try again later. You might be asked a different question.</p>
        </div>
      </details>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}