{% set isHMRCPage = true %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
We need to ask some questions to prove your identity
{% endblock %}

{% block serviceName %}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      The information you gave does not match our records
    </h1>

    <form method="post" action="choose-2-items" name="" novalidate="">

      <p class="govuk-body">This means that some or all of the details you entered were incorrect.</p>
      <p class="govuk-body">
        <strong>You have 4 more attempts</strong> to prove your identity.
      </p>

      <input class="govuk-button" type="submit" value="Try again">

    </form>

  </div>

</div>
{% endblock %}