{% extends "customer-view/common/header-e-four-ds2.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Talk to an adviser over a phone call
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>
<br>
<a class="govuk-back-link" href="b2-information">Back</a>

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Talk to an adviser over a phone call
      </h1>



            <div class="govuk-details__text">
            <p>You can find <a href="https://www.gov.uk/browse/benefits">help and information about other benefits on GOV.UK.</a> You can also find contact details on a recent letter about your benefit. </p>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


            <!-- phone numbers group -->
             <p class="govuk-heading-m">Personal Independence Payment (PIP)</p>


               <p class="govuk-heading-s">DWP - PIP claims</p>

               <ul class="govuk-list govuk-list--bullet">
                 <li>Telephone: 0800 917 2222</li>
                 <li>Textphone: 0800 917 7777</li>
                 <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then 0800 917 2222</li>
                 <li>Calling from abroad: +44 191 218 7766</li>
               </ul>


               <p>Monday to Friday, 8am to 5pm</p>
               <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>






    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <!-- <p class="govuk-heading-s">Page options</p> -->
    </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-button-list__item govuk-button-list__item--with-icon">
      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon"><img src="/public/images/download_icon.png" alt="download icon"></span>
        <span class="underline">Download</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
        <span class="underline">Print</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/share_icon.png" alt="share icon"></span>
        <span class="underline">Share</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
    </div>

  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


{% endblock %}
