{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-with-signed-out.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Which benefits do you need to change?
{% endblock %}


{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Benefits you need to change
      </h1>
      <p class="govuk-body">You chose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Employment and Support Allowance (ESA)</li>
        <li>Disability Living Allowance (DLA)</li>
      </ul>
      <form action="Before-you-change-bank-details" method="post" novalidate>
        <div class="govuk-form-group govuk-!-margin-top-6">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you need payments to go into one bank account?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="payments-into-one-bank-account" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="payments-into-one-bank-account" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="no">
                  No, pay my benefits into different bank accounts
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
