{% extends "layouts/main.html" %}

{% block pageTitle %}
  We have been unable to confirm your identity -
        {{ data['service-name']  }}
    - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-xl">We have been unable to confirm your identity</h1>
        
        <p>This is because we could not match the information you entered with our records.</p>

        <p>You can use the account you have created to sign in and try the identity confirmation again after 24 hours.</p>

        <p>You might be asked for different information.</p>

        <h2 class="govuk-heading-l">Support instructions</h2>

        <p>[INSERT SUPPORT INSTRUCTIONS]</p>
        
        {{ govukButton({
          text: "Continue",
          href: "#"
        }) }}
      </div>
    </div>
{% endblock %}




