{% extends "layouts/main.html" %}

{% block pageTitle %}
  Use existing credentials
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sign in with your existing DWP sign in details</h1>

                <p class="govuk-body">Your sign in details are the email address, password and mobile phone number you use to sign in to the other online DWP services you have told us you have used.  </p>
                
                <h2 class="govuk-heading-m">I cannot remember or do not have access to these details</h2>
                <p class="govuk-body"><a href=#>Reset your password</a> if you cannot remember it. If you no longer have access to the mobile phone number or email address you used to sign in, <a href=#>change your sign in details</a></p>

                {{ govukButton({
                    text: "Sign in",
                    href: "sign-in"
                }) }}

        </div>
        
    </div>
{% endblock %}
