{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/auth/default/sign-in-branch-returning" id="form" method="post" >
                {{ govukRadios({
                idPrefix: "sign-in-register-branch-returning",
                name: "sign-in-register-branch-returning",
                fieldset: {
                    legend: {
                    text: "Have you used the " + serviceName + " service before?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
                }) }}
       

                {{ govukButton({
                    text: "Continue"
                }) }}


               
            </form>
        </div>
    </div>
{% endblock %}
