{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Set up sign in details start
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">We need to ask some questions to prove your identity</h1>

            <p>You will be asked to give information from 2 sources you may have. Your information will be checked against our records.</p>

            <p>You can choose from:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a valid UK passport</li>
                <li>payslips or P60</li>
                <li>Self Assessment</li>
                <li>information about tax credits, if you claim them</li>
                <li>details of your bank accounts, loans, mortgages or credit agreements</li>
            </ul>

            <p>Providing this information will not affect your claims, benefits or credit rating.</p>

            <p>If you cannot answer these questions, you will need to <a href="#">confirm your identity another way</a>.</p>

            <p>We ask these questions to protect you against malicious or fraudulent attempts to access the service.</p>

            {{ govukButton({
                text: "Continue",
                href: "email-address"
            }) }}

        </div>
    </div>
{% endblock %}
