{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Confirm your identity another way -
        {{ data['service-name']  }}
    - GOV.UK 
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">Confirm your identity another way</h1>
        
        {% if data['service-name'] == '' %}
        {% else %}
        <p>You can now sign in to {{ data['service-name'] }}.</p>
        {% endif %} 
        <p>We're going to ask you some questions about your personal details held in our records.</p>
        
        {{ govukButton({
          text: "Continue",
          href: "auth/default/idv/v5/kbv/child-dob"
        }) }}
      </div>
    </div>
{% endblock %}




