{% extends "layouts/main.html" %}

{% block pageTitle %}
  Set up sign in details start
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Register</h1>

            <p>Create an account so you can sign in securely each time you visit.</p>

                                    <!-- <div class="govuk-inset-text">
              <a href="/auth/default/sign-in">I have already registered</a>
            </div> -->
            <div class="govuk-inset-text">
              <a href="/auth/dev-ready/sign-in">Sign in if you have already created an account</a>
            </div>

              {{ govukButton({
                text: "Continue",
                href: "email-address"
            }) }}

        </div>
    </div>
{% endblock %}
