{% extends "layouts/main.html" %}

{% block pageTitle %}
  Set up sign in details start
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have 2 sources to prove who you are?
      </h1>
    </legend>
    <div id="sources-hint" class="govuk-hint">
      You need to select at least 2 identity sources to continue. 
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="sources" name="sources" type="checkbox" value="a valud UK passport">
        <label class="govuk-label govuk-checkboxes__label" for="passport">
          a valid UK passport
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="payslips" name="payslips" type="checkbox" value="payslips or p60">
        <label class="govuk-label govuk-checkboxes__label" for="payslips">
          payslips or P60
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="self-assessment" name="self-assessment" type="checkbox" value="self-assessment">
        <label class="govuk-label govuk-checkboxes__label" for="self-assessment">
          Self Assessment
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="tax-credits" name="tax-credits" type="checkbox" value="tax-credits">
        <label class="govuk-label govuk-checkboxes__label" for="tax-credits">
          information about tax credits, if you claim them
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="credit" name="credit" type="checkbox" value="credit">
        <label class="govuk-label govuk-checkboxes__label" for="credit">
          details of your bank accounts, loans, mortgages or credit agreements
        </label>
      </div>
      <div class="govuk-checkboxes__divider">or</div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
        <label class="govuk-label govuk-checkboxes__label" for="countries-5">
          I do not have 2 of these sources
        </label>
      </div>
    </div>

  </fieldset>
</div>

{{ govukButton({
  text: "Continue",
  href: "email-address"
}) }}

{% endblock %}
