{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  What was your previous last name? -
        {{ data['service-name']  }}
    - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
<div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="one-third">
        <span class="govuk-caption-l">Confirm your identity</span>
        What was your previous last name?
      </label>
    </h1>
    <div id="event-name-hint" class="govuk-hint">
        If you have had more than one last name before your current last name, enter the most recent one.
    </div>
    <input class="govuk-input govuk-!-width-one-third" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
  </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
