{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Registration complete -
        {{ data['service-name']  }}
    - GOV.UK 
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">You have created your account</h1>
        
        {% if data['service-name'] == '' %}
        <p>You can now sign in.</p>
        {% else %}
        <p>You can now sign in to {{ data['service-name'] }}.</p>
        {% endif %} 
        <p>We will then ask you some questions about your personal details.</p>
        
        {{ govukButton({
          text: "Sign in to continue",
          href: "/auth/default/sign-in"
        }) }}
      </div>
    </div>
{% endblock %}




