{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your National Insurance number? -
        {{ data['service-name']  }}
    - GOV.UK
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="date-of-birth" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "What is your National Insurance number?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                label: {
                    classes: "govuk-label--l"
                },
                hint: {
                    text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
                },
                classes: "govuk-input--width-10",
                    id: "nino",
                    name: "nino"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
