{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="all-benefits-claimed-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Confirm your identity</span>
              Which one of these benefits have you claimed previously?
            </h1>
          </legend>
          <span id="all-benefits-claimed-hint" class="govuk-hint">
            Select the benefit you have claimed at any time since {{ data['thirty-one-months-ago'] }}.
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-1" name="all-benefits-claimed" type="radio" value="Jobseeker's Allowance">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-1">Jobseeker's Allowance (JSA)</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-2" name="all-benefits-claimed" type="radio" value="Tax credits">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-2">Tax credits</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-3" name="all-benefits-claimed" type="radio" value="Carer's Allowance">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-3">Carer's Allowance</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-4" name="all-benefits-claimed" type="radio" value="Personal Independence Payment">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-4">Personal Independence Payment (PIP)</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-5" name="all-benefits-claimed" type="radio" value="Employment and Support Allowance">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-5">Employment and Support Allowance (ESA)</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="all-benefits-claimed-6" name="all-benefits-claimed" type="radio" value="Income Support">
              <label class="govuk-label govuk-radios__label" for="all-benefits-claimed-6">Income Support</label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- <p class="govuk-!-margin-top-6">
        <a href="/idv/default/kbv-submit">I haven't claimed any of these since {{ data['thirty-one-months-ago'] }}</label>
      </p> -->

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can stay on this page for up to 20 minutes if you need to check your answer. Do not close the web page.</p>
          <p>If you need more time, you can come back and confirm your identity later. You might be asked for different information.</p>
        </div>
      </details>

      {{ govukButton({
        text: "Continue",
        href: "phone-number-mobile"
      }) }}

      <p><a href="#">I cannot answer this question</a></p>

    </form>

  </div>
</div>

{% endblock %}