{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
     Your personal details Service Name – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your personal details</h1>

                <p class="govuk-body">
                    You will now be asked to enter your name, date of birth, and postcode. This information will help us match your details to our records.
                </p>

                <p class="govuk-body">
                    Once this is complete, you will then be asked  further questions to help us confirm who you are.
                </p>

                <p class="govuk-body">
                    You may need to re-enter details about yourself. This is nothing to worry about. It simply helps us confirm it is you and protect you from fraud.
                </p>







    <a href="name" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>



            </div>
  </div>

{% endblock %}
