{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
   What is your postcode? - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">What is your postcode?</h1>
                    <form action="../hmrciv/start-page" method="post">



    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label" for="postcode">
          Postcode
        </label>
        </h1>

    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">

    </div>








    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>


                    </form>
            </div>
  </div>

{% endblock %}
