{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
   Create a password - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="tpas_error_summary" style="display: none">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>

    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list" id="tpas_error_summary_list">

        </ul>
    </div>
</div>

            <form id="tpas_password_form" method="post" class="form" action="mobile">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Create a password</h1>
                    </legend>

                    <p>Your password must be 8 characters or more.</p>

                    <p>It must include at least:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>one upper case letter</li>
                        <li>one lower case letter</li>
                        <li>one number</li>
                        <li>one special character</li>
                    </ul>

                    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Which special characters can I use?
    </span>
  </summary>
  <div class="govuk-details__text">
    You can use the following special characters: @ # $ % ^ &amp; * - _ ; ! + = [ ] { } |  : ' , . ? / ` ~ " ( )
  </div>
</details>


                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <label class="govuk-label" for="txt_tpas_password">
                            Enter password
                        </label>

                        <input class="govuk-input govuk-!-width-full-width" id="txt_tpas_password" name="txt_tpas_password" type="password">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="txt_tpas_confirm_password">
                            Confirm password
                        </label>

                        <input class="govuk-input govuk-!-width-full-width" id="txt_tpas_confirm_password" name="txt_tpas_confirm_password" type="password">
                    </div>

                    <button class="govuk-button" data-module="govuk-button" id="continue" type="submit">
                        Continue
                    </button>

                    <input type="hidden" id="prototype-service" name="prototype-service" value="">
                    <input type="hidden" id="prototype-mfa" name="prototype-mfa" value="">
                </fieldset>
            </form>
        </div>
  </div>

{% endblock %}
