{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Payment history
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>
<!--
<br>
<a class="govuk-back-link" href="payments">Back</a>
-->
<!--Crumble menu-->
<!--
<br>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
-->
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <!--
  <p class="govuk-body-m">Your national insurance number: <br><strong><bold>{{ data['national-insurance-number'] }}</bold></strong>&nbsp;&nbsp;<a href="ni-number">Change</a></p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  <p class="govuk-caption-l">{{ data['full-name'] }}</p>
-->

          <h1 class="govuk-heading-xl">
          Your payment history
          <!-- <span class="govuk-caption-l">
          View and access your benefits in one place
        </span> -->
        </h1>
</div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->
<!--
  <h1 class="govuk-heading-l">
  Feb 2021 - Present

  </h1> -->
</div>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Benefit</th>
      <th scope="col" class="govuk-table__header ">Payment date</th>
      <th scope="col" class="govuk-table__header ">Payment amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
   
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
      <td class="govuk-table__cell  ">Tuesday 18 January 2022</td>
      <td class="govuk-table__cell  ">£56.70</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 18 January 2022</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 11 January 2022</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
      <td class="govuk-table__cell  ">Tuesday 4 January 2022</td>
      <td class="govuk-table__cell  ">£56.70</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 4 January 2022</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 28 December 2021</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
      <td class="govuk-table__cell  ">Tuesday 21 December 2021</td>
      <td class="govuk-table__cell  ">£56.70</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 21 December 2021</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Carer's Allowance</td>
      <td class="govuk-table__cell  ">Tuesday 14 December 2021</td>
      <td class="govuk-table__cell  ">£60.60</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
      <td class="govuk-table__cell  ">Tuesday 7 December 2021</td>
      <td class="govuk-table__cell  ">£56.70</td>
    </tr>
   

  </tbody>
</table>

<p>Page <a href="payments-history.html">1</a> | 2</a><a href=""> | 3 | </a><a href="">4 | </a><a href="">5 | </a><a href="">6 | </a><a href="">7 | </a><a href="">8 | </a><a href="">9 | </a><a href="">10 | </a><a href="">11 | </a><a href="">12 </a></p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <p class="govuk-!-font-size-16"><a href="" target="_blank">Print</a> <br><br> <a class="govuk-!-font-size-16"><a href="" target="_blank">Download</a></p> 
<br>
    <a class="govuk-button" href="information-channels-page-two">
       Return to menu
     </a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   



    <!-- Help and support
        <div class="govuk-grid-column-full" style="padding-left:0px;">

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
          <p class="govuk-heading-l">I need more help</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="ask-question">Ask a question</a>
            </li>
            <li>
              <a class="govuk-link" href="telephone-information">Talk to an adviser over a phone call</a>
            </li>

            <li>
              <a class="govuk-link" href="webchat-service">Use webchat service</a>

            </li>
          </ul>

        </div>
        -->


    </div>


  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

  
    </div>
  
  

{% endblock %}
