{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
Which benefit do you need a proof of benefits letter for?
{% endblock %}

{% block beforeContent %}
<br>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--
<a class="govuk-back-link" href="pob-overview">Back</a>
-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/sprint-2/digital-service/pob-selection-digital" method="post">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="benefit-information-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Which benefit do you need a proof of benefit letter for?
                  </h1>
            </legend>

            <span class="govuk-caption-l">
              Select one option.
            </span>
            <br>
            <br>

            <!--
            <div class="govuk-inset-text">
              To keep your information secure, we need to verify your identity when you sign in.
            </div>
            -->

<div class="govuk-radios">


<!--ESA-->
<div class="govuk-radios__item govuk-!-padding-bottom-3">
  <input class="govuk-radios__input" id="pob-selection" name="pob-selection" type="radio" value="esa-letter" aria-describedby="pob-selection-item-hint">
  <label class="govuk-label govuk-radios__label" for="pob-selection">
    Employment and Support Allowance (ESA)
  </label>
  <!--
  <div id="pob-item-hint" class="govuk-hint govuk-radios__hint">
    Placeholder text
  </div>
  -->
</div>

<!--Carer's-->
<div class="govuk-radios__item govuk-!-padding-bottom-3">
  <input class="govuk-radios__input" id="pob-selection-2" name="pob-selection" type="radio" value="pob-carers" aria-describedby="pob-selection-2-item-hint">
  <label class="govuk-label govuk-radios__label" for="pob-selection-2">
    Carer's Allowance
  </label>
<!--
  <div id="pob-2-item-hint" class="govuk-hint govuk-radios__hint">
    Placeholder text
  </div>
-->
</div>

  </div>
</div>

            </div>

          </fieldset>
      </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>



{% endblock %}
