{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Which benefit do you need a proof of benefits letter for?
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    



        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
        

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Your proof of benefit letters 
            </h1>
            
      </legend>
      

      <br>
      <br>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
    

      <h2 class="govuk-heading-m">Select the benefit you want proof of</h2>
      <ul class="govuk-list">
      
        <li>
          <a class="govuk-link" href="pob-esa">Employment and Support Allowance (ESA)</a>
        </li>
        <li>
          <a class="govuk-link" href="pob-carers">Carer’s Allowance</a>
        </li>
      
      
      <div class="govuk-grid-column-full"><br><hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"></div>
            

      <h2 class="govuk-heading-m">Help and information</h2>

<!-- <p class="govuk-heading-m">You have 2 active benefits or awards</p> -->
<p>You may need a proof of benefit letter to show your work history, prove that you live in the UK, or that you’re entitled to things like:</p>

<ul class="govuk-list govuk-list--bullet govuk-body">
  <li>free school meals</li>
  <li>help with health costs, like prescriptions or eye tests</li>
  <li>training and travel </li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


<p>Contact us if you:</p>

<ul class="govuk-list govuk-list--bullet govuk-body">
  <li>need us to send a letter to you in an alternative format, like Welsh or braille</li>
  <li>have recently moved house and need to update your address</li>
</ul>

<p><a href="telephone-information-pob">View the contact details for your benefit office</a>.</p>

  <!-- <li>
    <a class="govuk-link" href="b2-status">Request benefit status check</a>
  </li> -->
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


        </fieldset>

        <a class="govuk-button" href="information-channels-page-two">
          Return to menu
        </a>  
  </div>
</div>


{% endblock %}
