{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
Proof of benefit letter for Employment and Support Allowance (ESA)

{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>


<br>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--<a class="govuk-back-link" href="pob-selection-digital.html">Back</a>-->


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="">Select yes to get another proof of benefit letter or select no to continue
</a>
      </li>

    </ul>
  </div>
</div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds proof-heading">
    <!--
    <p class="govuk-body-m">Your national insurance number: <br><strong><bold>{{ data['national-insurance-number'] }}</bold></strong>&nbsp;&nbsp;<a href="ni-number">Change</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-caption-l">{{ data['full-name'] }}</p>
    -->
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Proof of benefit letter for Carer's Allowance
    </h1>
    <p class="govuk-!-font-size-16"><a href="" target="_blank">View and download my letter</a> <br><br> <a class="govuk-!-font-size-16"><a href="" target="_blank">Get a printed letter in the post</a><br> <br>  <a class="govuk-!-font-size-16"><a href="" target="_blank">Share my letter securely with someone online</a></p>
    <!--
    <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
     -->
    <a href="loe-w-exit" class="proof-heading__action govuk-link--no-visited-state"><i class="mdi mdi-36px mdi-fullscreen"></i><span class="govuk-visually-hidden">Full screen view</span></a>
  </div>
  <div class="letter">
    <div class="govuk-grid-column-three-quarters column-left">
      <div class="letter__container">
        <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div style="visibility:hidden;">test</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <img src="/public/images/dwp-logo.png" alt="DWP logo" class="govuk-!-margin-bottom-6" style="max-width: 40%;">
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-font-size-16">{{ data['full-name'] }}<br>
      76 Penny Lane<br>
      Dewchester<br>
      DW9 XYZ</p>
  </div>
  <div class="govuk-grid-column-one-third ">

    <p class="govuk-!-font-size-16"><a href="https://www.gov.uk" target="_blank">www.gov.uk</a></p>

    <p class="govuk-!-font-size-16">Telephone: 0000 000 0000<br>
      Textphone: 0000 000 0000</p>

    <p class="govuk-!-font-size-16">Your reference: XYZ999</p>

    <p class="govuk-!-font-size-16">24 June 2021</p>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Information about your benefit entitlement</h2>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p>Dear {{ data['full-name'] }},</p>

    <h3 class="govuk-heading-s">Your benefit entitlement details</h3>


    <p class="govuk-!-margin-bottom-1"><strong>Carer's Allowance</strong></p>

    <p class="govuk-!-margin-bottom-1">Entitlement start date: Thu 24 March 2021.</p>

    <p>Amount: £22.96, paid every 2 weeks.</p>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">More information</h3>

    <p>If you need any more information, please contact us on the number at the top of this confirmation.</p>

    <p class="govuk-!-padding-top-4">Yours sincerely,</p>

    <p>Department for Work and Pensions</p>
  </div>
</div>

      </div>
    </div>
 </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
  <form class="form" action="/sprint-2/digital-service/pob-carers" method="post">
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="other-pob">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Do you need another proof of benefit letter?
          </h2>
        </legend>
        <p id="where-do-you-live-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select yes to get another proof of benefit letter or select no to continue
  
        </p>
        <div id="other-pob-hint" class="govuk-hint">
        
        </div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other-pob" name="other-pob" type="radio" value="yes-more">
            <label class="govuk-label govuk-radios__label" for="other-pob">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="other-pob-2" name="other-pob" type="radio" value="no-more">
            <label class="govuk-label govuk-radios__label" for="other-pob-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
  </fieldset>
  
  <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
  
{% endblock %}
