{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Would you like to check more information about your benefits? 

{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

<!--Crumble menu-->
<!--
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start">Check my benefits</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="information-channels-page-two.html">What benefit information would you like to check?</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pob-format-selection">How would you like to get your proof of benefits letter</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pob-selection-digital">Which benefit do you need a proof of benefits letter for</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pob-esa">Proof of benefit letter for Employment and Support Allowance (ESA)</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="">Would you like to check more information about your benefits?</a>
    </li>
  </ol>
</div>
-->

<br>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds proof-heading">

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="">Select yes to return to the main menu or select no to exit
</a>
      </li>

    </ul>
  </div>
</div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds proof-heading">
    <!--
    <p class="govuk-body-m">Your national insurance number: <br><strong><bold>{{ data['national-insurance-number'] }}</bold></strong>&nbsp;&nbsp;<a href="ni-number">Change</a></p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-caption-l">{{ data['full-name'] }}</p>
    -->
    <!--
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Would you like to check more information about your benefits? 
    </h1>
    -->
  </div>
</div>
<!--Do you want to do anything else?-->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
<form class="form" action="/sprint-2/digital-service/return-to-tasks" method="post">
  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" aria-describedby="anything-else">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <p id="where-do-you-live-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select yes to return to the main menu or select no to exit

        </p>
        <h2 class="govuk-fieldset__heading">
          Would you like to return to the main menu?
        </h2>
      </legend>
      <div id="anything-else-hint" class="govuk-hint">
      
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="anything-else" name="anything-else" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="anything-else">
            Yes, let me check more information about my benefits
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="anything-else-2" name="anything-else" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="anything-else-2">
            No, I’d like to sign out
          </label>
        </div>
      </div>
  
    </fieldset>
  </div>
</fieldset>

<button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

{% endblock %}
