{% extends "customer-view/common/header-e-four-ds.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Talk to an adviser over a phone call
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>
<a class="govuk-back-link" href="bank-details">Back</a>
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact us
      </h1>
      <p>If you are getting more than one benefit, you may need to contact each office that pays your benefit.</p>
      <p>You'll need your National Insurance number when you contact us. If you've lost your National Insurance number, <a href="https://www.gov.uk/lost-national-insurance-number">check how to find a lost National Insurance number.</a> </p>


<!--
            <div class="govuk-details__text">
            <p>You can find <a href="https://www.gov.uk/browse/benefits">help and information about other benefits on GOV.UK.</a> You can also find contact details on a recent letter about your benefit. </p>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
-->



<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
<!-- phone numbers group -->
 <p class="govuk-heading-m">Attendance Allowance</p>


   <p class="govuk-heading-s">Attendance Allowance helpline</p>

   <ul class="govuk-list govuk-list--bullet">
     <li>Telephone: 0800 731 0122</li>
     <li>Textphone: 0800 731 0317</li>
     <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0122</li>
   </ul>


   <p>Monday to Friday, 8am to 3:30pm</p>
   <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


 <!-- phone numbers group -->
  <p class="govuk-heading-m">Bereavement Service </p>


    <p class="govuk-heading-s">Bereavement Service helpline</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Telephone: 0800 731 0469</li>
      <li>Welsh language: 0800 731 04537</li>
      <li>Textphone: 0800 731 0464</li>
      <li>Welsh language: 0800 731 0456</li>
      <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0469</li>
      <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
    </ul>


    <p>Monday to Friday, 9:30am to 3:30pm</p>
    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



        <!-- phone numbers group -->
         <p class="govuk-heading-m">Carer’s Allowance</p>


           <p class="govuk-heading-s">Carer’s Allowance Unit</p>

           <ul class="govuk-list govuk-list--bullet">
             <li>Telephone: 0800 731 0297</li>
             <li>Textphone: 0800 731 0317</li>
             <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0297</li>
             <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
           </ul>


           <p>Monday to Friday, 10am to 2pm</p>
           <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




           <!-- phone numbers group -->
            <p class="govuk-heading-m"> Child Benefit</p>


              <p class="govuk-heading-s">Child Benefit helpline</p>

              <ul class="govuk-list govuk-list--bullet">
                <li> Telephone: 0300 200 3100</li>
                <li>Welsh language: 0300 200 1900</li>
                <li>Textphone: 0300 200 3103</li>
                <li>Outside UK: +44 161 210 3086</li>
              </ul>


              <p>Monday to Friday, 8am to 6pm</p>
              <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                 <!-- phone numbers group -->
                  <p class="govuk-heading-m">Disability Living Allowance</p>


                    <p class="govuk-heading-s">Disability Living Allowance helpline</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Telephone: 0800 121 4600</li>
                      <li>Textphone: 0800 121 4523</li>
                      <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 121 4600</li>
                      <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
                    </ul>


                    <p>Monday to Friday, 9am to 5pm</p>
                    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                 <!-- phone numbers group -->
                  <p class="govuk-heading-m"> Employment and Support Allowance (ESA)</p>


                    <p class="govuk-heading-s">  Universal Credit helpline</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li> Telephone: 0800 328 5644 (choose option 3)</li>
                      <li>Textphone: 0800 328 1344 (choose option 3)</li>
                      <li>Welsh language telephone: 0800 328 1744</li>
                      <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</li>
                      <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
                    </ul>


                    <p>Monday to Friday, 8am to 6pm</p>
                    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">






<!-- phone numbers group -->
 <p class="govuk-heading-m"> Jobseeker's Allowance (JSA)</p>

<p class="govuk-heading-s"> Jobcentre Plus</p>
 <ul class="govuk-list govuk-list--bullet">
   <li>Telephone: 0800 055 6688 </li>
   <li>Textphone: 0800 023 4888 </li>
   <li>Welsh language: 0800 012 1888 </li>
   <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then 0000 123 4567</li>
   <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
 </ul>

 <p>Monday to Friday, 8am to 5pm</p>
 <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




        <!-- phone numbers group -->
         <p class="govuk-heading-m">   Pension Credit </p>

        <p class="govuk-heading-s">    Pension Credit claim line</p>
         <ul class="govuk-list govuk-list--bullet">
           <li>Telephone: 0800 99 1234</li>
           <li>Textphone: 0800 169 0133</li>
           <li>Welsh language: 0800 012 1888 </li>
           <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then  0800 99 1234</li>
           <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
         </ul>

         <p>Monday to Friday, 8am to 6pm</p>
         <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



                <!-- phone numbers group -->
                 <p class="govuk-heading-m">Pension Service</p>


                   <!-- <p class="govuk-heading-s">Carer’s Allowance Unit</p> -->

                   <ul class="govuk-list govuk-list--bullet">
                     <li>Telephone: 0800 99 1234</li>
                     <li>Textphone: 0800 169 0133</li>
                     <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 99 1234</li>
                     <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
                   </ul>


                   <p>Monday to Friday, 8am to 6pm</p>
                   <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- phone numbers group -->
     <p class="govuk-heading-m">Personal Independence Payment (PIP)</p>


       <p class="govuk-heading-s">DWP - PIP claims</p>

       <ul class="govuk-list govuk-list--bullet">
         <li>Telephone: 0800 917 2222</li>
         <li>Textphone: 0800 917 7777</li>
         <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222</li>
         <li>Calling from abroad: +44 191 218 7766</li>
       </ul>


       <p>Monday to Friday, 8am to 5pm</p>
       <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">





           <!-- phone numbers group -->
            <p class="govuk-heading-m"> Statutory Sick Pay (SSP)</p>


              <p class="">If this does not sort the problem, contact the HMRC Statutory Payment Disputes Team.</p>

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">






 <!-- phone numbers group -->
  <p class="govuk-heading-m"> Universal Credit</p>

 <p>  Call the Universal Credit helpline if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li> you cannot make an ‘new style’ Employment and Support Allowance application online</li>
    <li> you’re an appointee for someone</li>
    <li> you cannot use digital services at all - this might be because of disability or your circumstances </li>
    <li>you have a question about your Universal Credit claim and cannot access your online claim</li>
  </ul>

  <p class="govuk-heading-s">  Universal Credit helpline</p>

  <ul class="govuk-list govuk-list--bullet">
    <li> Telephone: 0800 328 5644 (choose option 3)</li>
    <li>Textphone: 0800 328 1344 (choose option 3)</li>
    <li>Welsh language telephone: 0800 328 1744</li>
    <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 328 5644</li>
    <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
  </ul>


  <p>Monday to Friday, 8am to 6pm</p>
  <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">





        <!-- phone numbers group -->
         <p class="govuk-heading-m">Winter Fuel Payment</p>


           <p class="govuk-heading-s">Winter Fuel Payment Centre</p>

           <ul class="govuk-list govuk-list--bullet">
             <li>Telephone: 0800 731 0160</li>
             <li>Telephone from outside the UK: +44 (0)191 218 7777</li>
             <li>Textphone: 0800 731 0176</li>
             <li>Textphone from outside the UK: +44 (0)191 218 7280</li>
             <li><a href="https://www.relayuk.bt.com/">Reply UK</a> (if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0160</li>
             <li> <a href="#">Video relay service</a>: if you communicate in British Sign Language (BSL) — <a href="#">check you can use the service</a></li>
           </ul>


           <p>Monday to Friday, 9:30am to 3:30pm</p>
           <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         <p class="govuk-heading-m">Need help?</p>


         <p><a href="https://www.gov.uk/browse/benefits">Visit GOV.UK</a> for more information about benefits.</p>


    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a class="govuk-button" href="information-channels">
         Return to menu
       </a>
     
<!--
      <form class="form" action="/sprint-2/digital-service/telephone-information" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="benefit-information-hint">
              
              <form class="form" action="/sprint-2/digital-service/information-channels" method="post">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="anything-else">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h2 class="govuk-fieldset__heading">
                        Would you like to return to the main menu?
                      </h2>
                    </legend>
                    <div id="anything-else-hint" class="govuk-hint">
                      
                    </div>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="anything-else" name="anything-else" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="anything-else">
                          Yes, let me check more information about my benefits
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="anything-else-2" name="anything-else" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="anything-else-2">
                          No, I’d like to sign out
                        </label>
                      </div>
                    </div>
                
                  </fieldset>
                </div>
    
              </fieldset>
          </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      -->
  
{% endblock %}
