{% extends "customer-view/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Thank you
{% endblock %}

{% block content %}
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Thank you.</h1>
      </div>
    -->
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        You have signed out
      </h1>
</legend>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">
<p>For more information about benefits, visit<a href="https://www.gov.uk/browse/benefits"> GOV.UK</a>.</p>





    </div>
  </div>

{% endblock %}
