{% extends "layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/idv/v4/kbv-blank-set/dvla-consent-submit" method="get" autocomplete="off">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="has-driving-license-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Confirm your identity</span>
              Can we share your information with the Driver and Vehicle Licensing Agency (DVLA)?
            </h1>
          </legend>
          <p class="govuk-body">The DVLA will check their records and confirm if your driving licence details are correct.</p>
          <p class="govuk-body">For details about how we store and process your information, see our <a href="#privacy-notice">privacy notice (opens in new window or tab)</a>.</p>

          <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-4">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="dva-consent" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label " for="yes">
                Yes
              </label>
              <span id="yes-hint" class="govuk-hint govuk-radios__hint">

              </span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="dva-consent" type="radio" value="no">
              <label class="govuk-label govuk-radios__label " for="no">
                No - confirm my identity another way
              </label>
            </div>
          </div>
          <input class="govuk-button " type="submit" value="Continue">
        </fieldset>
      </div>
    </form>
  </div>
</div>

{% endblock %}