{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
Update your sign in details -
{{ data['service-name'] }}
- GOV.UK
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
{% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Register another email address</h1>

        <p>If you cannot access the email address that you use to sign in, you will need to register a different email address.
            This will only update your sign in details and will not change anything about your benefit or pension account. </p>
        <p>The first time you sign in with your new email address, we will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>ask you some questions to check we are dealing with the right person</li>
            <li>connect your new sign in details to your existing account</li>
 
        </ul>


        {{ govukButton({
        text: "Register",
        href: "../register/email-address.html"
        }) }}
<p><a href="#">I do not have another email address</a></p>
    </div>
</div>
{% endblock %}