{% extends "check-your-payment/v2/common/header-e-four.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Thank you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Thank you.</h1>
      </div>
      <br>
      <p>You can now safely close this browser window. </p>
      <br>
      <br>
      <p class="govuk-heading-m">What you can do</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Look at <a href="/e-three/find-information">How you want to find out about your benefits?</a> service to view other benefit information</li>
        <li>Go to <a href="/e-three/digital-service/start">        Employment and Support Allowance (ESA)</a> service to find ESA related information.</li>
        <li>View your PIP information online using <a href="/e-three/digital-service-2/start">        Personal Independence payment (PIP) </a>  service.</li>
        <li>Use <a href="/e-three/digital-service-3/start">        Disability Living Allowance (DLA)</a>  online to find DLA related information.</li>
      </ul>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


          <form class="form" action="/e-three/information-channels" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                          Do you still have questions for DWP?
                        </h1>
                  </legend>


                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

                  <div class="govuk-radios">
                    <div class="govuk-radios__item govuk-!-padding-bottom-3">
                      <input class="govuk-radios__input" id="contact-channel-2" name="contact-channel" type="radio" value="no-i-did-not-found-info" aria-describedby="contact-channel-2-item-hint">
                      <label class="govuk-label govuk-radios__label" for="contact-channel-2">
                        Yes
                      </label>

                    </div>
                    <div class="govuk-radios__item govuk-!-padding-bottom-3">
                      <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="no-i-do-not" aria-describedby="contact-channel-item-hint">
                      <label class="govuk-label govuk-radios__label" for="contact-channel">
                        No
                      </label>

                    </div>

                    <!-- <div class="govuk-radios__item govuk-!-padding-bottom-3">
                      <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="chat-bots" aria-describedby="contact-channel-item-hint">
                      <label class="govuk-label govuk-radios__label" for="contact-channel">
                        Use webchat service
                      </label>
                      <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        You can talk to one of our agents over chat to find out more information. You may have to prove your identity for senstive information sharing.
                      </div>
                    </div> -->
                  </div>

                </fieldset>
            </div>


              <button class="govuk-button" data-module="govuk-button">Continue</button>
          </form>

        </div>
      </div>


      <!-- <p> You can use <a href="/e-three/find-information">find out about my DWP benefits</a> service to access information about all your DWP benefits and other awards.      </p> -->


    </div>
  </div>

{% endblock %}
