{% extends "header-e-three-c2.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Talk to an adviser over a phone call
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>
<br>
<!-- <a class="govuk-back-link" href="your-contact-channels">Back</a> -->

{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Talk to an adviser over a phone call
      </h1>


<p>If you need more information or want to tell us about a change in your circumstances, call an enquiry line:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Telephone: 0000 123 4567 </li>
  <li>Textphone: 0000 123 4567 </li>
  <li><a href="#">Reply UK</a(if you cannot hear or speak on the phone): 18001 then 0000 123 4567</li>
  <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
  <li>Welsh language: 0000 123 4567 </li>
</ul>

<p>Monday to Friday, 9am to 5pm</p>

<p><a href="#">Find out about call charges</a></p>

    </div>
  </div>

{% endblock %}
