{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Update your sign in details -
        {{ data['service-name']  }}
    - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Create new sign in details</h1>

            <p>If you cannot access the email address you use to sign in, you can register again with a different address.</p>
 
            {{ govukButton({
                text: "Continue",
                href: "../register/start.html"
            }) }}

        </div>
    </div>
{% endblock %}
