{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers before sending your bank details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before sending your bank details</h1>
        <h2 class="govuk-heading-m">Your existing bank details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on account
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Phillips
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>-->
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              12-34-56
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/card-homepage/esa-changebankdetails.html">
                Change<span class="govuk-visually-hidden"> Sort code</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              12345678
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/radio-homepage/esa-changebankdetails.html">
                Change<span class="govuk-visually-hidden"> Account number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number or credit union membership number
            </dt>
            <dd class="govuk-summary-list__value">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/radio-homepage/esa-changebankdetails.html">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Your new bank details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on account
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Phillips
            </dd>
            <dd class="govuk-summary-list__actions">
            <!--  <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>-->
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              65-43-21
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/radio-homepage/esa-New-bankdetails.html">
                Change<span class="govuk-visually-hidden"> Sort code</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              87654321
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/radio-homepage/esa-New-bankdetails.html">
                Change<span class="govuk-visually-hidden"> Account number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number or credit union membership number
            </dt>
            <dd class="govuk-summary-list__value">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/V4/Change-bank-details-1-and-three-homepages/radio-homepage/esa-New-bankdetails.html">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Now send your application</h2>
        <p class="govuk-body">When you send this information, you confirm that the details you have given us are correct, and you believe they are true.</p>
        <form action="/V4/Change-bank-details-1-and-three-homepages/list-homepage//confirmation" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
{% endblock %}
