{% extends "V4-1/Change-your-bank-details-and-2-homepages/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}


{% block pageTitle %}
  Personal details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Personal details</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="govuk-grid-row customer-view-card-group">
          <li class="govuk-grid-column-one-third customer-view-card-group__item">
            <div class="customer-view-card customer-view-card--clickable">
              <div class="customer-view-card__content">
                <h2 class="customer-view-card__heading govuk-heading-m">
                  <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="#">View your personal details</a>
                </h2>
                <p class="govuk-body customer-view-card__description">Check your personal details are correct.</p>
              </div>
            </div>
          </li>
          <li class="govuk-grid-column-one-third customer-view-card-group__item">
            <div class="customer-view-card customer-view-card--clickable">
              <div class="customer-view-card__content">
                <h2 class="customer-view-card__heading govuk-heading-m">
                  <a class="govuk-link govuk-link--no-visited-state customer-view-card__link" href="change-bank-details.html">Change your bank details</a>
                </h2>
                <p class="govuk-body customer-view-card__description">Change where your money gets paid.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
