{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Postcode
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/auth/findr-submit" method="post">
                {{ govukErrorSummary({
                  "titleText": "There is a problem",
                  "errorList": [
                    {
                      "text": "Enter a valid postcode",
                      "href": "#postcode"
                    }
                  ]
                }) }}

                {{ govukFieldset({
                    legend: {
                        html: "What is your postcode?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                  label: {
                    text: "Postcode"
                  },
                  classes: "govuk-input--width-10",
                  id: "postcode",
                  name: "postcode",
                  value: "LS1666HL",
                  errorMessage: {
                    text: "Enter a valid postcode"
                  },
                  autocomplete: "postal-code"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
