{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request complete
        </h1>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>You have requested a proof of benefit letter for {{ data['researchSetUpBenefits'] | formatList}}.</p>

      {% if (data['researchSetUpBenefits'].length > 1) %}
      <p>Your letters should arrive separately within one week.</p>
      {% else %}
      <p>Your letter should arrive within one week.</p>
      {% endif %}

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?
        </a>
        (takes 30 seconds)
      </p>

      {{ govukButton({
        text: "Sign out",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}