{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Contact us to get a proof of benefit letter
{% endblock %}

{% block beforeContent %}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Contact us to get a proof of benefit letter
      </h1>

      <p>
        We can only send proof of benefit letters to addresses you have saved with us. 
      </p>

      <p>
        If you have changed address, tell us your new details and <a href="">contact the office that pays your benefit (opens in a new tab).</a>.
      </p>


      {{ govukButton({
        text: "Sign out",
        href: "#"
      }) }}

    </div>
  </div>

{% endblock %}
