{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Which benefits do you get?
{% endblock %}

{% block beforeContent %}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="select-benefits-answer" method="post">

        {{ govukCheckboxes({
          name: "which-benefits-need-proof",
          value: data['which-benefits-need-proof'],
          fieldset: {
            legend: {
              text: "Which benefits do you need proof of?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you select more than one benefit, you will get separate letters for each benefit."
          },
          items: [
          {
            value: "Attendance Allowance",
            text: "Attendance Allowance"
          },
          {
            value: "Disability Living Allowance (DLA) for adults",
            text: "Disability Living Allowance (DLA) for adults"
          },
          {
            value: "Employment and Support Allowance (ESA)",
            text: "Employment and Support Allowance (ESA)"
          },
          {
            value: "Income Support",
            text: "Income Support"
          },
          {
            value: "Industrial Industries Disablement Benefit",
            text: "Industrial Industries Disablement Benefit"
          },
          {
            value: "Jobseeker’s Allowance",
            text: "Jobseeker’s Allowance"
          },
          {
            value: "Pension Credit",
            text: "Pension Credit"
          },
          {
            value: "Personal Independence Payment (PIP)",
            text: "Personal Independence Payment (PIP)"
          },
          {
            value: "State Pension",
            text: "State Pension"
          },
          {
            value: "I need a letter for another benefit",
            text: "I need a letter for another benefit"
          }
        ]

        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
