{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Check your details before you send them
{% endblock %}

{% block beforeContent %}

  {%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

  {{
    hmrcLanguageSelect({
      language: 'en',
      en: {
        href: '?en'
      },
      cy: {
        href: '?cy'
      }
    })
  }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="cant-get-proof-all-benefits-answer" method="post">


        <h1 class="govuk-heading-l">
          You cannot get proof of all your benefits using this service
        </h1>

        {# {{ (or (data['which-benefits-need-proof'].length == 2 and 'I need a letter for another benefit' in data['which-benefits-need-proof'])) | dump }} #}
        {% if (data['which-benefits-need-proof'].length == 3 and 'I need a letter for another benefit' in data['which-benefits-need-proof']) %}
          <p>You can get a letter for {{ data['which-benefits-need-proof'][0] }} and {{ data['which-benefits-need-proof'][1] }}.</p>
        {% elif (data['which-benefits-need-proof'].length == 2 and 'I need a letter for another benefit' in data['which-benefits-need-proof']) %}
          <p>You can get a letter for {{ data['which-benefits-need-proof'][0]}}.</p>
        {% elif (data['which-benefits-need-proof'].length == 2) %}
          <p>You can get a letter for {{ data['which-benefits-need-proof'] | formatList }} using this service.</p>
        {% elif (data['which-benefits-need-proof'].length > 3 and 'I need a letter for another benefit' in data['which-benefits-need-proof']) %}
          <p>We can send you letters for:</p>
          <ul class="govuk-list govuk-list--bullet">
              {% for benefit in data['which-benefits-need-proof'] %}
                {% if benefit !== 'I need a letter for another benefit' %}
                    <li>{{ benefit }}</li>
              {% endif %}
            {% else %}
                <p>No benefit selected</p>
            {% endfor %}    
          </ul>
        {% elif (data['which-benefits-need-proof'].length > 2) %}
          <p>We can send you letters for:</p>
          <ul class="govuk-list govuk-list--bullet">
              {% for benefit in data['which-benefits-need-proof'] %}
                <li>{{ benefit }}</li>
            {% else %}
                <p>No benefit selected</p>
            {% endfor %}    
          </ul>
        {% endif %}

          <p>
            You cannot get a proof of benefit letter for other benefits online yet.</a>
          </p>

          <p>
            To get proof of another benefit, contact the office that pays your benefit.</a>
          </p>

          <p>
            Find their contact details in a letter they’ve sent to you, or <a href="https://www.gov.uk/browse/benefits" class="govuk-link" rel="noreferrer noopener" target="_blank">in guidance about the benefit (opens in a new tab).</a>
          </p>

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
          
            <a class="govuk-link" href="">Sign out</a>
          </div>
      </form>
    </div>
  </div>

{% endblock %}
