

{% extends "layouts/main.html" %}


{% block pageTitle %}
  Start page example
{% endblock %}

{% block beforeContent %}
  <!--Crumble menu-->
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
  items: [
      {
      text: "Home",
      href: "#"
      },
      {
      text: "Benefits",
      href: "#"
      },
      {
      text: "Manage an existing benefit, payment or claim",
      href: "#"
      }
  ]
  }) }}
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Manage your benefits
        </h1>

        <p>If you get benefit payments, you can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>prove to someone that you get benefits</li>
        <li>view your personal details</li>
        <li>share your documents with us</li>
      </ul>

      <p>If you get Employment and Support Allowance (ESA) or Carer’s Allowance payments, you can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view your next benefit payment</li>
        <li>view your benefit payment history</li>
       </ul>
      <br>
       <h3 class="govuk-heading-s">
        If you get Universal Credit or Child Maintenance
      </h3>

      <p>There’s a different service to:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/sign-in-universal-credit">sign in to your Universal Credit account</a></li>
        <li><a href="https://www.gov.uk/child-maintenance-service">sign in to your Child Maintenance Service account</a></li>
        </ul>

      <br>

        <div>
        <h2 class="govuk-heading-m">What you’ll need</h2>
        <p>If you're signing in for the first time, you'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an email address</li>
          <li>a mobile phone</li>
         </ul>
         <p>To keep your information secure, we will ask you security questions to prove your identity. We may ask for details about your:</p>
         <ul class="govuk-list govuk-list--bullet">
           <li>UK passport</li>
           <li>payslip or <a href="https://www.gov.uk/paye-forms-p45-p60-p11d/p60">P60</a></li>
           <li>Self Assessment</li>
           <li>tax credits</li>
           <li><a href="https://www.citizensadvice.org.uk/debt-and-money/borrowing-money/how-lenders-decide-whether-to-give-you-credit/">credit file</a> (such as loans, credit cards or mortgages)</li>
          </ul>          
         </div>

         

         <a href="information-channels" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Start  now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
 
    </div>
  {% endblock %}

