{% import 'change-address/v2/common/_globals.html' as globals %}
{% extends globals.common + "header.html" %}
{% extends "layouts/main.html" %}

{% set pagehome = "true" %}

{% block pageTitle %}
  What benefit information would you like to check?
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
	{
	  text: "Home",
	  href: globals.url_home
	}
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
	<h1 class="govuk-heading-xl">
	  Sarah Philips
	</h1>
	<div class="govuk-grid-row govuk-!-margin-bottom-9">
	  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
		<div class="card govuk-!-padding-5">
			<h2 class="govuk-heading-m">
				<a href="payments">Payments</a>
			</h2>
			<p>Check your next payment and view your payment history.</p>
		</div>
	  </div>
	  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
		<div class="card govuk-!-padding-5">
			<h2 class="govuk-heading-m">
				<a href="circumstances/personal-details">Personal details</a>
			</h2>
			<p>View your personal details and change your address and phone number.</p>
		</div>
	  </div>
	  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
		<div class="card govuk-!-padding-5">
			<h2 class="govuk-heading-m">
				<a href="documents">Documents</a>
			</h2>
			<p>Save, share or upload documents, or get a letter to prove you get benefits.</p>
		</div>
	  </div>
	</div>
	<style>
		.card {
			border: 1px solid #b1b4b6; border-bottom-width:4px
		}
		@media (min-width: 40.0625em) {
			.card {
				min-height:220px;
			}
		}
	</style>
  </div>
</div>



{% endblock %}
