{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  What is your postcode? -
        {{ data['service-name']  }}
    - GOV.UK
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           
                {{ govukFieldset({
                    legend: {
                        html: "What is your postcode?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "Postcode"
                    },
                    id: "postcode",
                    name: "postcode",
                    classes: "govuk-input--width-10"
                }) }}
              
                <a class="govuk-button" href="/sprint-2/digital-service/oidv-payment-history/dev-ready/idv/hmrciv/start-page">
                    Continue
                  </a>

      
        </div>
    </div>
{% endblock %}
