{% extends "customer-view/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
  Registration complete
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!--
            {{ govukPanel({
                titleText: "Registration complete",
                text: "You are signed in to " + serviceName
            }) }}
            <p>You will need your email, mobile phone and password when you next sign in to this service.</p>
            -->

            {{ govukPanel({
                titleText: "Your identity has been confirmed"
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cxp/default/benefits-summary-table-e"
            }) }}
        </div>
    </div>
{% endblock %}




