{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/header-with-signed-out.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  List home page
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
            Personal details
            </h1>
            <!--Personal details form-->
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Sarah Philips
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                    </a>-->
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 1978
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>-->
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National Insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                    AB 12 34 56 C
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> date of birth</span>
                    </a>-->
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Home address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="{{globals.url_version_sub}}circumstances/cora/move_date">
                    Change<span class="govuk-visually-hidden"> your home address</span>
                    </a>-->
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Postal address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                      <!--<a class="govuk-link" href="{{globals.url_version_sub}}circumstances/coca/search-pattern">
                    Change<span class="govuk-visually-hidden"> your postal address</span>
                    </a>-->
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Main phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">07700 900 457</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                        <!--Change<span class="govuk-visually-hidden"> contact details</span>-->
                        </a>
                    </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Second phone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">07700 900 457</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                            <!--Change<span class="govuk-visually-hidden"> contact details</span>-->
                            </a>
                        </dd>

                        </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">sarah.phillips@example.com</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                    <!--Change<span class="govuk-visually-hidden"> contact details</span>-->
                    </a>
                </dd>

                </div>
            </dl>
            <!--<p><a href="telephone-information-personal-details">Contact us</a> to update your personal details.</p>-->
            <!--Personal details form end-->
            <p class="govuk-body"><a class="govuk-link" href="list-home-page.html">
            Go back to the home page
            </a></p>
        </div>
    </div>
{% endblock %}
