{% import 'change-address/v1/common/_globals.html' as globals %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="search_pattern">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
        <h1 class="govuk-heading-xl">
            Select your address
          </h1>

            <form class="form" action="/address_look_up/complete" method="post">
      
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                     
                      <p class="govuk-!-margin-top-4">2 addresses found for <b>6</b> and <b>NE25 9NZ</b> &nbsp;&nbsp;&nbsp;<a href="{{globals.url_version_sub}}circumstances/coca/search-pattern">Change</a></p>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="address-confirmation1" name="address-confirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="address-confirmation1">
                          6 TURNBERRY, WHITLEY BAY
                        </label>
                      </div>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="address-confirmation2" name="address-confirmation" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="address-confirmation2">
                            6 NEWSTEADS FARM COTTAGES, WHITLEY BAY
                          </label>
                        </div>
                      
                    </div>
                  </fieldset>
                </div>
                <a href="{{globals.url_version_sub}}circumstances/cora/complete" class="govuk-button">
                  Continue
                </a>
                <p><a href="{{globals.url_version_sub}}circumstances/coca/enter_address_pattern" >My address is not listed</a></p>

          </form>

    </div>
  </div>

{% endblock %}

