{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  We need you to confirm your identity - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl ">
            We need you to confirm your identity
          </h1>

          <form method="post" action="choose-2-items" name="">

            <p class="govuk-body">
              We will ask you about items you may have, like your:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>UK passport</li>
              <li>Payslips or P60</li>
              <li>Self Assessment</li>
              <li>Tax credits (optional Voice ID)</li>
              <li>Credit record</li>
            </ul>

            <p class="govuk-body">
              You will be able to choose how to confirm your identity.
            </p>

            <p class="govuk-body">
              We do this to protect you against fraud.
            </p>

            <input class="govuk-button " type="submit" value="Continue">

          </form>

          <p class="body-text"><a href="more-information-from-cyi-start">
            I do not have any of these items</a>
          </p>

        </div>
  </div>

{% endblock %}
