{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
   Identity check complete - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- Redirects to services via this page -->

          <form method="post" action="../../list-homepage/list-home-page">


          <h1 class="govuk-heading-xl">
            Identity check complete
          </h1>

          <p class="govuk-body-l">
            You have answered the security questions successfully.
          </p>

          <input type="submit" value="Continue" class="govuk-button">

        </form>
      </div>
  </div>

{% endblock %}
