{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
   We need your consent to share your information
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

                <span class="govuk-caption-l">
                    Passport details
                </span>
                <h1 class="govuk-heading-l">
                    We need your consent to share your information
                </h1>

                <p class="govuk-body">
                    To help confirm your identity using your passport details, we need your consent to share your information with the HM Passport Office.
                </p>

                <p class="govuk-body">
                    The Passport Office will compare the information you enter with their records, and confirm with HMRC if the details are correct.
                </p>

                <p class="govuk-body">
                    For details about how we store and process your information, see our <a href="" class="govuk-link">privacy notice (opens in new window or tab)</a>.
                </p>

                <form method="post" novalidate="" action="your-passport-details?sa=true">



    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-body">

        Do you consent to HMRC sharing your passport details with the HM Passport Office?

      </legend>


      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">






            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
            Yes
          </label>

            </div>








            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>

            </div>




      </div>


    </fieldset>


    </div>









    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>

                </form>
            </div>
  </div>

{% endblock %}
