{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Text message
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">We have sent you a text message with your security code</h1>
            <p>It should take one minute to arrive.</p>

            

            <form action="text-code-check" method="post" class="form">
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="reset-text-code">
                        Security code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="reset-text-code" name="reset-text-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>

            <p><a href="resend-text">I did not get a security code</a></p>

            {{ govukDetails({
                summaryText: "I do not have access to the phone I use to sign in",
                html: '<a href="mailto:support@support.com">Email DWP sign in support</a> if you need the security code sent to a new phone number.'
            }) }}
        </div>
    </div>
{% endblock %}
