
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change bank details - iteration 3
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change bank details - iteration 4 (Dynamic)
      </h1>
    </div>
  </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.31</strong><strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="V5-dynamic-prototype/Change-bank-details-iteration-3/Eligibility-questions/how-did-you-find-out-about-this-service">Change bank details iteration 4</a></h1>
                  <p class="govuk-body-l">Dynamic design of the change bank details journey for user testing.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.31</strong><strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="V5-dynamic-prototype/Iteration4-with-returning-OIDV-journey/Eligibility-questions/how-did-you-find-out-about-this-service">Iteration 4 - with returning OIDV journey</a></h1>
                  <p class="govuk-body-l">Dynamic design of the change bank details journey along with OIDV for presentation.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>
            <!-- <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.32</strong><strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="Change-bank-details-with-OIDV-journey-not-tested/Eligibility-questions/check-if-you-can-change-bank-details">Change bank details with OIDV journey - not tested</a></h1>
                  <p class="govuk-body-l">Second design of the change bank details journey with the OIDV. </p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Online Identity and Verification (OIDV)</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>-->
            <!-- <div class="govuk-grid-row govuk-!-margin-top-3" > 
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.33</strong><strong class="govuk-tag govuk-tag--green">In Progress</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="Change-bank-details-3-design-ideas/Eligibility-questions/check-if-you-can-change-bank-details">Change bank details 3 design ideas</a></h1>
                  <p class="govuk-body-l">Alternative designs and extra pages not used in the final journey for this version.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Starting point</li>
                        <li>Eligibility questions</li>
                        <li>Homepage (lists)</li>
                        <li>Change bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers</li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
              </div>
            </div>-->

{% endblock %}
