{% import 'change-address/v3/3/common/_globals.html' as globals %}
{% extends globals.common + "header.html" %}
{% extends "layouts/main.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{{ super() }}
<a class="govuk-back-link" href="{{globals.url_version_sub}}circumstances/personal-details">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if error %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
            {
            text: "Error",
            href: "#UKRES"

            }
        ]
        }) }}
        {% endif %}
      <form action="/change-address/v3/3/digital-service/circumstances/cora/complete" method="post" novalidate>
        <span class="govuk-caption-l">Residential</span>
        {{ govukRadios({
            name: "UKRES",
            fieldset: {
              legend: {
                text: "Do you live alone or with others?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            errorMessage: { text: "error"} if error else null,
            items: [
              {
                value: "alone",
                text: "I live alone"
              },
              {
                value: "others",
                text: "I live with others"
              }
            ]
          }) }} 

        {{ govukButton({
            text: "Continue"
        }) }}
        
      </form>
    </div>
  </div>
{% endblock %}