{% extends "/check-your-payment/v3/common/header-e-four-c2.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Do you still have questions for DWP?
{% endblock %}



{% block content %}


<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have been signed out of Digital self-service hub
    </h3>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form class="form" action="/e-three/information-channels" method="post">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Do you still have questions for DWP?
                  </h1>
            </legend>


            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

            <div class="govuk-radios">
              <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="contact-channel-2" name="contact-channel" type="radio" value="no-i-did-not-found-info" aria-describedby="contact-channel-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="contact-channel-2">
                  Yes
                </label>

              </div>
              <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="no-i-do-not" aria-describedby="contact-channel-item-hint">
                <label class="govuk-label govuk-radios__label" for="contact-channel">
                  No
                </label>

              </div>

              <!-- <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="chat-bots" aria-describedby="contact-channel-item-hint">
                <label class="govuk-label govuk-radios__label" for="contact-channel">
                  Use webchat service
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  You can talk to one of our agents over chat to find out more information. You may have to prove your identity for senstive information sharing.
                </div>
              </div> -->
            </div>

          </fieldset>
      </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>



{% endblock %}
