{% extends "customer-view/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm Your Identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/kbv-test/benefits-claimed-all" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="gp-name">What is the name of your doctor's surgery?</label>
        </h1>
        <span id="gp-name-hint" class="govuk-hint">
          You can find this on a fit note or a letter from your doctor. For example, Eastville Medical Practice or Heaton Road Surgery.
        </span>
        <input class="govuk-input" id="gp-name" name="gp-name" type="text" spellcheck="false" aria-describedby="gp-name-hint">
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}