{% extends "layouts/main.html" %}

{% block pageTitle %}
  Locked out
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}
    {% include 'includes/language-toggle.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You are locked out</h1>

            <p>This is because you tried to sign in unsuccessfully 10 times. You will not be able to sign back in until we unlock your access.</p>

            <p>This is to keep your information secure.</p>

            <h2 class="govuk-heading-m">Unlock your access</h2>
            <p>Email <a href="#">DWP sign in support</a> for instructions on how to unlock your access.</p>

        </div>
    </div>
{% endblock %}
