{% extends "layout.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">Confirm your identity</span>
          <label class="govuk-label govuk-label--l" for="mobile-phone-number">What is your mobile telephone number?</label>
        </h1>
        <!-- <div id="mobile-phone-number-hint" class="govuk-hint">
          <p class="govuk-hint">
            Enter the National Insurance number of any child included on one of your other benefit claims from the last
            3 years.</p>
          <p class="govuk-hint">You can find this on a National Insurance card, benefit letter, payslip or P60. For
            example, ‘QQ 12 34 56 C’.</p>
        </div> -->
        <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text"
          aria-describedby="mobile-phone-number-hint" spellcheck="false" maxlength="14">
      </div>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can stay on this page for up to 20 minutes if you need to check your answer. Do not close the web page.</p>
          <p>If you need more time, you can come back and confirm your identity later. You might be asked for different information.</p>
        </div>
      </details>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

      <p><a href="#">I cannot answer this question</a></p>

    </form>

  </div>
</div>

{% endblock %}