{% extends "layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="service-charges" method="post" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">Confirm your identity</span>
          <label class="govuk-label govuk-label--l" for="landlord-name">Enter your landlord's surname or their full company name</label>
        </h1>
        <span id="landlord-name-hint" class="govuk-hint">
          You should be able to find this on your housing contract.
        </span>
        <input class="govuk-input" id="landlord-name" name="landlord-name" type="text" spellcheck="false"
          aria-describedby="landlord-name-hint">
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}