{% extends "e-one/common/header-e-one-dss.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Help and support
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary govuk-body">
        <ul>
          <li>
            <a href="benefit-summary" >Home</a>
          </li>
          <li>
            <a href="payments">Payments</a>
          </li>
          <li>
            <a href="notifications">Notifications</a>
          </li>
          <li>
            <a href="contact-history"   >Contact history</a>
          </li>
          <!-- <li>
            <a href="#">Manage account</a>
          </li> -->
          <li>
            <a href="ask-question">Ask a question</a>
          </li>
          <li>
            <a href="help-and-support-telephone-webchat" class="active" aria-current="section">Call us or use webchat</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


      <h1 class="govuk-heading-xl">
        Call us or use webchat
      </h1>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">

      <form class="form" action="/e-one/your-contact-channels" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      How do you want to find out about your benefits?
                    </h1>
              </legend>

              <div id="sign-in-hint" class="govuk-inset-text">
                You may have to prove your identity before you access information.
              </div>

              <div class="govuk-radios">
                <div class="govuk-radios__item govuk-!-padding-bottom-3">
                  <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="telephone" aria-describedby="contact-channel-item-hint">
                  <label class="govuk-label govuk-radios__label" for="contact-channel">
                    Talk to an adviser over a phone call
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    You’ll have to contact related benefits individually to get more information. Queues likely.
                  </div>
                </div>
                <div class="govuk-radios__item govuk-!-padding-bottom-3">
                  <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="chat-bots" aria-describedby="contact-channel-item-hint">
                  <label class="govuk-label govuk-radios__label" for="contact-channel">
                    Use webchat service
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    You can talk to one of our agents over chat to find out more information. You may have to prove your identity for senstive information sharing.
                  </div>
                </div>
              </div>

            </fieldset>
        </div>


          <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>


    </div>
  </div>

{% endblock %}
