{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary govuk-body">
        <ul>
          <li>
            <a href="benefit-summary" >Home</a>
          </li>
          <li>
            <a href="payments">Payments</a>
          </li>
          <li>
            <a href="notifications">Notifications</a>
          </li>
          <li>
            <a href="contact-history"   >Contact history</a>
          </li>
          <!-- <li>
            <a href="#">Manage account</a>
          </li> -->
          <li>
            <a href="ask-question">Ask a question</a>
          </li>
          <li>
            <a href="help-and-support-telephone-webchat">Call us or use webchat</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>
<br>
  <a class="govuk-back-link" href="payments">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        I can’t find the information i’m looking for
      </h1>



      <p>We only display summary information for your benefits and for more detailed enquiries, you will need to contact us to speak to an agent.</p>

      <p> You can do that using the following methods:</p>
      <p><strong>Webchat</strong></p>
      <p> Please use the webchat feature in the bottom right hand corner of the page.</p>


      <p><strong>Phone call</strong></p>
      <p>Please call the following number: <strong>01234 832 456</strong> <br> Alternatively you can <a href="">find information about a different benefit.</a></p>


    </div>
  </div>

{% endblock %}
