{% import 'V3-1/common/_globals.html' as globals %}

{% set pagepersonal = "true" %}

{% extends globals.common + "header.html" %}
{% extends globals.common + "layout.html" %}

{% block pageTitle %}
    Talk to an adviser over a phone call
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <!--Crumble menu-->
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Home",
        href: globals.url_home
        },
        {
        text: "Personal details",
        href: "#"
        }
    ]
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
            Personal details
            </h1>
            <!--Personal details form-->
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Sarah Philips
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                    </a>-->
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    5 January 1978
                </dd>
                <dd class="govuk-summary-list__actions">
                    <!--<a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> date of birth</span>-->
                    </a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Home address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{{globals.url_version_sub}}circumstances/cora/move_date">
                    Change<span class="govuk-visually-hidden"> your home address</span>
                    </a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Postal address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="{{globals.url_version_sub}}circumstances/coca/search-pattern">
                    Change<span class="govuk-visually-hidden"> your postal address</span>
                    </a>
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">sarah.phillips@example.com</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                    <!--Change<span class="govuk-visually-hidden"> contact details</span>-->
                    </a>
                </dd>
                
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone numbers
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">07700 900457<br>07700 900457</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> phone numbers</span>
                        </a>
                    </dd>
                    
                    </div>
            </dl>
            <a class="govuk-heading-s" href="bank-details">Check and change your bank details</a>

            <!--<p><a href="telephone-information-personal-details">Contact us</a> to update your personal details.</p>-->
            <!--Personal details form end-->
        </div>
    </div>    
{% endblock %}
