{% import 'change-address/v3/2/common/_globals.html' as globals %}
{% set pagepayment = "true" %}

{% extends globals.common + "header.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Next payment
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: globals.url_home
    },
    {
      text: "Check your next payment",
      href: "#"
    }
  ]
}) }}
<!--

<br>
<a class="govuk-back-link" href="ni-number">Back</a> -->
<!--Crumble menu-->
<!--
<br>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
-->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sarah Philips
    </h1>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-2"></hr>

    <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-7">Check your next payment</h2>  
    <form class="form" action="/sprint-2/digital-service/next-payment" method="post">
      <div class="govuk-form-group">
      <!--
        <p class="govuk-body-m">Your national insurance number: <br><strong><bold>{{ data['national-insurance-number'] }}</bold></strong>&nbsp;&nbsp;<a href="ni-number">Change</a></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-caption-l">{{ data['full-name'] }}</p>
      -->

          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            
            <!--First Box-->
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <div class="govuk-!-padding-5"style="border:1px solid #bbbbbb; background:#ffffff">
              <p>Your next Employment and Support Allowance (ESA) payment for<span class="govuk-heading-xl" style="margin-bottom:0px;">£56.70</span>is on 15 July 2022</p>
              
              

               <!--Payment breakdown-->
             <!--  <details class="govuk-details" data-module="govuk-details"></details>  -->
              <!--
                              <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  View payment breakdown
                                </span>
                              </summary>

                <div class="govuk-details__text">
                  <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Payment type</th>
                      <th scope="col" class="govuk-table__header">Amount</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Benefit Payment</td>
                      <td class="govuk-table__cell">£56.70</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Deductions</td>
                      <td class="govuk-table__cell">£0.00</td>
                    </tr>
                      <th scope="row" class="govuk-table__header">Total  pay</th>
                      <td class="govuk-table__cell">£56.70</td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              -->

            </details>

            </div>

            <!--Second Box-->
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <div class="govuk-!-padding-5"style="border:1px solid #bbbbbb; background:#ffffff">
              <p>Your next Carer's Allowance payment for<span class="govuk-heading-xl" style="margin-bottom:0px;">£60.60</span>is on 15 July 2022</p>
              

            </details>

            </div>
 

</div>
</div>



    </div>
    
    <p class="govuk-!-font-size-16"><a href="" target="_blank">Print</a> <br><br> <a class="govuk-!-font-size-16"><a href="" target="_blank">Download</a></p> 
    
  <br>
  </form>
  </div>
</div>



{% endblock %}
