{% extends "check-your-payment/v1/common/header-e-three-c2-dss.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Payments
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>



<br>
<a class="govuk-back-link" href="benefit-summary">Back</a>

{% endblock %}

{% block content %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->
<!--
  <h1 class="govuk-heading-l">
  Feb 2021 - Present

  </h1> -->
  <div class="govuk-grid-column-three-thirds">
    <p class="govuk-caption-l">{{ data['full-name'] }}</p>
  
            <h1 class="govuk-heading-xl">
            Employment and Support Allowance (ESA) payment history
          </h1>
  </div>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit</th>
        <th scope="col" class="govuk-table__header ">Payment date</th>
        <th scope="col" class="govuk-table__header ">Payment amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 1 June 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 18 May 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 4 May 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 20 May 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 6 April 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 23 March 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell  ">Employment and Support Allowance (ESA)</td>
        <td class="govuk-table__cell  ">Tuesday 9 March 2021</td>
        <td class="govuk-table__cell  ">£56.70</td>
     

    </tbody>
  </table>
  <p>Page <a href="payments-history-esa.html">1</a> | <a href="payments-history-esa-page-two.html">2</a> | 3 </p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">


    <!-- Help and support -->
    <!--
        <div class="govuk-grid-column-full" style="padding-left:0px;">

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
          <p class="govuk-heading-l">I need more help</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="ask-question">Ask a question</a>
            </li>
            <li>
              <a class="govuk-link" href="telephone-information">Talk to an adviser over a phone call</a>
            </li>

            <li>
              <a class="govuk-link" href="webchat-service">Use webchat service</a>

            </li>
          </ul>

        </div>



    </div>


  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p><a href="missing-info" target="_blank">    What information you need is missing from this concept?
  </a> (opens in new tab or window)</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    -->
    <!-- <p class="govuk-heading-s">Page options</p> -->
  <!--
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-button-list__item govuk-button-list__item--with-icon">
      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon"><img src="/public/images/download_icon.png" alt="download icon"></span>
        <span class="underline">Download</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
        <span class="underline">Print</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>



  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
-->
{% endblock %}
