  {% extends "check-your-payment/v1/common/header-e-three-c2-dss.html" %}
  {% extends "layouts/main.html" %}

  {% block pageTitle %}
    Ask a question
  {% endblock %}


  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong> &nbsp;
      <strong class="govuk-tag govuk-tag--red">
        Experimental
      </strong> &nbsp;
      <span class="govuk-phase-banner__text">
          This is not a service. These are example conceptual screens.
      </span>
    </p>
  </div>

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">

        <nav class="navigation-secondary govuk-body">
          <ul>
            <li>
              <a href="benefit-summary">Home</a>
            </li>
            <li>
              <a href="payments-history">Payment history</a>
            </li>
            <li>
              <a href="proof-of-benefit">Proof of benefits</a>
            </li>
            <li>
              <a href="">Contact history</a>
            </li>
            <!-- <li>
              <a href="#">Manage account</a>
            </li> -->
            <li>
              <a href="personal-details"class="active" aria-current="section">Personal details</a>
            </li>
            <li>
              <a href="">Help</a>
            </li>
            <!-- <li>
              <a href="help-and-support-telephone-webchat">Call us or use webchat</a>
            </li> -->
          </ul>
        </nav>

      </div>
    </div>
  </main>

  {% endblock %}
  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->

    </div>
    </div>

    <div class="govuk-grid-column-full">

    
              <h1 class="govuk-heading-xl">
              Personal details
    <!--
            <span class="govuk-caption-l">
              View your personal details and verify we have the most up to date information.
            </span>
    -->
            </h1>
    </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

        <!-- <p class="govuk-heading-l">Personal details</p> -->
        <!--<p>View your personal details and verify we have the most up to date information.</p>-->
        <!--Personal details form-->
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
            
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>
        <!--Personal details form end-->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
        <!--Bank details form start-->
      
        <h2 class="govuk-heading-m">
          Bank details
          <!--
          <span class="govuk-caption-l">
          This is where your next benefit payment will be sent to
          </span>
          -->
        </h2>
      
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bank name
            </dt>
            <dd class="govuk-summary-list__value">
              Lloyds bank
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              ****30
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              *****545
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
      
        </dl>
        <!--Bank details form end-->
        <!-- Help and support -->
          <!-- 
          <div class="govuk-grid-column-full" style="padding-left:0px;">

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
              <p class="govuk-heading-l">I need more help</p>
              <ul class="govuk-list">
              
                <li>
                  <a class="govuk-link" href="telephone-information">Talk to an adviser over a phone call</a>
                </li>

                <li>
                  <a class="govuk-link" href="webchat-service">Use webchat service</a>

                </li>
              </ul>

            </div>
          -->
          <p><a href="telephone-information">Contact us</a> to update your personal details.</p>
        </div>

  

  <!--
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    -->
      <!-- <p class="govuk-heading-s">Page options</p> -->
    <!--  
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-button-list__item govuk-button-list__item--with-icon">
        <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
          <span class="govuk-button-list__icon"><img src="/public/images/download_icon.png" alt="download icon"></span>
          <span class="underline">Download</span>
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
        </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-button-list__item govuk-button-list__item--with-icon">

        <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
          <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
          <span class="underline">Print</span>
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
        </div>
        </div>

      

    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  -->
  {% endblock %}
