{% extends "/check-your-payment/v3/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <span class="govuk-caption-xl">
      Driving licence details
    </span> -->
    <h1 class="govuk-heading-l">
      Enter your photocard driving licence details
    </h1>

    <form method="get" action="/idv/default/kbv-submit" name="">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find these details on your driving licence
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Enter the information from your driving licence using the numbered labels to help you.
          </p>
          <p class="govuk-body">For example, on your driving licence, the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>surname is labelled ‘1’</li>
            <li>issue date is ‘4a’</li>
            <li>expiry date is ‘4b’</li>
            <li>licence number is ‘5’</li>
            <li>issue number is the two digits after the licence number, and may be separated by a space or on a
              separate line</li>
          </ul><img width="534" src="/public/images/driving-license-dvla.jpg" alt="Specimen UK driving license">
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I cannot provide my driving licence details
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You can <a href="/idv/default/kbv-submit">confirm your identity another way</a></p>
        </div>
      </details>

      <div class="govuk-form-group" data-required="" data-error="Enter your last name as shown in your drivers licence">
        <label class="govuk-label govuk-label--m " for="surname">
          Surname <span class="govuk-!-font-weight-regular">(1)</span>
        </label>

        <input class="govuk-input govuk-input--width-20" id="surname" name="driverLicense[surname']" type="text">
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your driving licence issued date in the right format">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Issue date <span class="govuk-!-font-weight-regular">(4a)</span>
          </legend>

          <span id="dob-hint" class="govuk-hint">
            It’s on the front of your driving licence. For example, 19 01 2013
          </span>

          <div class="govuk-date-input" id="driverLicense[issued]">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence issued date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[issued]Day">
                  Day
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="driverLicense[issued]Day"
                  name="driverLicense[issued]Day" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence issued date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[issued]Month">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input  govuk-input--width-2  "
                  id="driverLicense[issued]Month" name="driverLicense[issued]Month">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence issued date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[issued]Year">
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="driverLicense[issued]Year"
                  name="driverLicense[issued]Year" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>
        </fieldset>

      </div>

      <div class="govuk-form-group" data-required=""
        data-error="Enter your driving licence expiry date in the right format">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Expiry date <span class="govuk-!-font-weight-regular">(4b)</span>
          </legend>

          <span id="dob-hint" class="govuk-hint">
            It’s on the front of your driving licence. For example, 18 01 2023
          </span>

          <div class="govuk-date-input" id="driverLicense[expiry]">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[expiry]Day">
                  Day
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="driverLicense[expiry]Day"
                  name="driverLicense[expiry]Day" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[expiry]Month">
                  Month
                </label>

                <input class="govuk-input govuk-date-input__input  govuk-input--width-2  "
                  id="driverLicense[expiry]Month" name="driverLicense[expiry]Month">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group" data-required=""
                data-error="Enter your driving licence expiry date in the right format">
                <label class="govuk-label govuk-date-input__label" for="driverLicense[expiry]Year">
                  Year
                </label>

                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="driverLicense[expiry]Year"
                  name="driverLicense[expiry]Year" type="number" pattern="[0-9]*">
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your driving licence number in the right format">
        <label class="govuk-label govuk-label--m " for="licenceNumber">
          Licence number <span class="govuk-!-font-weight-regular">(5)</span>
        </label>

        <span id="licenceNumber-hint" class="govuk-hint">
          For example, MORGA753116SM9IJ
        </span>

        <input class="govuk-input govuk-input--width-20" id="licenceNumber" name="driverLicense[licenceNumber]"
          type="text">
      </div>

      <div class="govuk-form-group" data-required="" data-error="Enter your given names in the right format">
        <label class="govuk-label govuk-label--m " for="issueNumber">
          Issue number
        </label>

        <span id="issueNumber-hint" class="govuk-hint">
          It’s the two digits after the licence number. It may be separated by a space or on a separate line. For
          example, 35
        </span>

        <input class="govuk-input govuk-input--width-3" id="issueNumber" name="driverLicense[issueNumber]" type="text">
      </div>

      <input class="govuk-button " type="submit" value="Continue">

      <details class="govuk-details govuk-!-margin-top-9">
        <summary class="govuk-details__summary govuk-details__summary--modifier">
          <span class="govuk-details__summary-text govuk-details__summary-text--modifier"
            style="display: block; text-decoration: underline; color: #005ea5; cursor: pointer; font-size: 16px">
            Get help with this page
          </span>
        </summary>
        <div class="govuk-grid-row"></div>

        <button type="submit" class="govuk-button">
          Send
        </button>

      </details>
    </form>
  </div>
</div>

{% endblock %}