{% extends "layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm Your Identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off" aria-describedby="bank-sort-code-hint">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="bank-sort-code">Enter your bank's sort code</label>
        </h1>
        <div id="partner-nino-number-hint" class="govuk-hint">
          <p class="govuk-hint">Use your main bank that your benefits or pension are paid to. The number must be 6 digits long and not contain dashes.</p>
          <p class="govuk-hint">We will only use this information to confirm your identity.</p>
        </div>
        <input class="govuk-input govuk-input--width-5" id="bank-sort-code" name="bank-sort-code" type="text" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric" spellcheck="false" maxlength="6">
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}