{% extends "customer-view/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm Your Identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/default/kbv-submit" method="get" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="child-name">	What is the name of one of your dependent children?</label>
        </h1>
        <span id="child-name-hint" class="govuk-hint">
          Enter the name of any child included on one of your other benefit claims from the last 3 years.
        </span>
        <input class="govuk-input" id="child-name" name="child-name" type="text" spellcheck="false" aria-describedby="child-name-hint">
      </div>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}