{% extends "e-four/common/header-e-four-fob.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Find out about your DWP benefits

{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>
<!-- <br>
<a class="govuk-back-link" href="information-channels">Back</a> -->

{% endblock %}



{% block content %}
<!-- <div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">
  <div class="govuk-button-list__item govuk-button-list__item--with-icon">
    <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
      <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
      <span class="underline">Print page</span>
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find out about your DWP benefits
      </h1>

      <!-- <p class="govuk-body-l">You can find information about benefit, arranged alphabetically.</p> -->


            <!-- <div class="govuk-details__text">
            <p>You can find <a href="https://www.gov.uk/browse/benefits">help and information about other benefits on GOV.UK.</a> You can also find contact details on a recent letter about your benefit. </p>
            </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->
</div>
</div>
<!--
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body-l ">
  <a href="#A-start" class="govuk-!-padding-right-3">A</a>
  <a href="#B-start" class="govuk-!-padding-right-3">B</a>
  <a href="#C-start" class="govuk-!-padding-right-3">C</a>
  <a href="#D-start" class="govuk-!-padding-right-3">D</a>
  <a href="#E-start" class="govuk-!-padding-right-3">E</a>
  <a href="#J-start" class="govuk-!-padding-right-3">J</a>
  <a href="#P-start" class="govuk-!-padding-right-3">P</a>
  <a href="#S-start" class="govuk-!-padding-right-3">S</a>
  <a href="#U-start" class="govuk-!-padding-right-3">U</a>
  <a href="#W-start" class="govuk-!-padding-right-3">W</a>

</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>
</div> -->



<div

<div class="govuk-grid-row">

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p>Contents</p>
    <ul class="govuk-list">
      <li>
        - <a href="#A-start" class="govuk-!-padding-right-3">Attendance Allowance</a>
      </li>
      <li>
        - <a href="#B-start" class="govuk-!-padding-right-3">Bereavement Service</a>
      </li>
      <li>
        - <a href="#C-start" class="govuk-!-padding-right-3">Carer’s Allowance</a>
      </li>
      <li>
        - <a href="#CB-start" class="govuk-!-padding-right-3">Child Benefit</a>
      </li>
      <li>
        - <a href="#D-start" class="govuk-!-padding-right-3">Disability Living Allowance (DLA)</a>
      </li>
      <li>
        - <a href="#E-start" class="govuk-!-padding-right-3">Employment and Support Allowance (ESA)</a>
      </li>
      <li>
        - <a href="#J-start" class="govuk-!-padding-right-3">Jobseeker's Allowance</a>
      </li>
      <li>
        - <a href="#P-start" class="govuk-!-padding-right-3">Pension Credit</a>
      </li>
      <li>
        - <a href="#PS-start" class="govuk-!-padding-right-3">Pension Service</a>
      </li>
      <li>
        - <a href="#PIP-start" class="govuk-!-padding-right-3">Personal Independence Payment (PIP)</a>
      </li>
      <li>
        - <a href="#S-start" class="govuk-!-padding-right-3">Statutory Sick Pay (SSP)</a>
      </li>
      <li>
        - <a href="#U-start" class="govuk-!-padding-right-3">Universal Credit</a>
      </li>
      <li>
        - <a href="#W-start" class="govuk-!-padding-right-3">Winter Fuel Payment</a>
      </li>
    </ul>
</div>


  <div class="govuk-grid-column-two-thirds">

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="A-start">
<!-- phone numbers group -->
 <h2 class="govuk-heading-l" >
   Attendance Allowance
 </h2>
  <p class="govuk-heading-s">Online service</p>
  <p>View your information using <a href="#">Attendance allowance service online</a> (opens in new tab or window)</p>

   <p class="govuk-heading-s">Attendance Allowance helpline</p>

   <ul class="govuk-list govuk-list--bullet">
     <li>Telephone: 0800 731 0122</li>
     <li>Textphone: 0800 731 0317</li>
     <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0122</li>
   </ul>
   <p>Monday to Friday, 8am to 3:30pm</p>
   <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="B-start">


 <!-- phone numbers group -->
  <h2 class="govuk-heading-l" >
    Bereavement Service
  </h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

  <p class="govuk-heading-s">Online service</p>
  <p>View and request your information using <a href="#">Bereavement Service online</a> (opens in new tab or window)</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

    <p class="govuk-heading-s">Bereavement Service helpline</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Telephone: 0800 731 0469</li>
      <li>Welsh language: 0800 731 04537</li>
      <li>Textphone: 0800 731 0464</li>
      <li>Welsh language: 0800 731 0456</li>
      <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0469</li>
      <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
    </ul>


    <p>Monday to Friday, 9:30am to 3:30pm</p>
    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="C-start">



        <!-- phone numbers group -->
         <h2 class="govuk-heading-l" >
           Carer’s Allowance
         </h2>
         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

           <p class="govuk-heading-s">Carer’s Allowance Unit</p>

           <ul class="govuk-list govuk-list--bullet">
             <li>Telephone: 0800 731 0297</li>
             <li>Textphone: 0800 731 0317</li>
             <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0297</li>
             <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
           </ul>


           <p>Monday to Friday, 10am to 2pm</p>
           <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="CB-start">




           <!-- phone numbers group -->
           <h2 class="govuk-heading-l" >
             Child Benefit
           </h2>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

            <p>Manage your benefit by <strong><a href="#">Signing in to your childcare account</a></strong> (opens in new tab or window)</p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

              <p class="govuk-heading-s">Child Benefit helpline</p>

              <ul class="govuk-list govuk-list--bullet">
                <li> Telephone: 0300 200 3100</li>
                <li>Welsh language: 0300 200 1900</li>
                <li>Textphone: 0300 200 3103</li>
                <li>Outside UK: +44 161 210 3086</li>
              </ul>


              <p>Monday to Friday, 8am to 6pm</p>
              <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="D-start">


                 <!-- phone numbers group -->
                 <h2 class="govuk-heading-l" >
                   Disability Living Allowance (DLA)
                 </h2>


                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


                    <p class="govuk-heading-s">Online service</p>
                    <p>View your information using <a href="/e-four/digital-service-3/start">Disability Living Allowance service online</a> (opens in new tab or window)</p>

                    <p class="govuk-heading-s">Disability Living Allowance helpline</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>Telephone: 0800 121 4600</li>
                      <li>Textphone: 0800 121 4523</li>
                      <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 121 4600</li>
                      <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
                    </ul>


                    <p>Monday to Friday, 9am to 5pm</p>
                    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="E-start">


                 <!-- phone numbers group -->
                 <h2 class="govuk-heading-l" >
                   Employment and Support Allowance (ESA)
                 </h2>

                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

                  <p class="govuk-heading-s">Online service</p>
                  <p>View your payment and entitlement letter using <a href="/e-four/digital-service/start" target="_blank">Employment and Support Allowance (ESA) service</a> (opens in new tab or window) </p>

                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


                    <p class="govuk-heading-s">  Universal Credit helpline</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li> Telephone: 0800 328 5644 (choose option 3)</li>
                      <li>Textphone: 0800 328 1344 (choose option 3)</li>
                      <li>Welsh language telephone: 0800 328 1744</li>
                      <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then 0800 328 5644</li>
                      <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
                    </ul>


                    <p>Monday to Friday, 8am to 6pm</p>
                    <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="J-start">






<!-- phone numbers group -->
<h2 class="govuk-heading-l" >
  Jobseeker's Allowance (JSA)
</h2>
 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<p class="govuk-heading-s"> Jobcentre Plus</p>
 <ul class="govuk-list govuk-list--bullet">
   <li>Telephone: 0800 055 6688 </li>
   <li>Textphone: 0800 023 4888 </li>
   <li>Welsh language: 0800 012 1888 </li>
   <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then 0000 123 4567</li>
   <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
 </ul>

 <p>Monday to Friday, 8am to 5pm</p>
 <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="P-start">




        <!-- phone numbers group -->
        <h2 class="govuk-heading-l" >
          Pension Credit
        </h2>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


                           <p>You can find information about <a href="https://www.gov.uk/pension-credit" target="_blank">Pension credit </a> (opens in new tab or window) on GOV.UK</p>

                           <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

        <p class="govuk-heading-s">    Pension Credit claim line</p>
         <ul class="govuk-list govuk-list--bullet">
           <li>Telephone: 0800 99 1234</li>
           <li>Textphone: 0800 169 0133</li>
           <li>Welsh language: 0800 012 1888 </li>
           <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then  0800 99 1234</li>
           <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
         </ul>

         <p>Monday to Friday, 8am to 6pm</p>
         <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="PS-start">



                <!-- phone numbers group -->
                <h2 class="govuk-heading-l" >
                  Pension Service
                </h2>

                 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

                   <!-- <p class="govuk-heading-s">Carer’s Allowance Unit</p> -->

                   <ul class="govuk-list govuk-list--bullet">
                     <li>Telephone: 0800 99 1234</li>
                     <li>Textphone: 0800 169 0133</li>
                     <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 99 1234</li>
                     <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
                   </ul>


                   <p>Monday to Friday, 8am to 6pm</p>
                   <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


                 <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="PIP-start">

    <!-- phone numbers group -->
    <h2 class="govuk-heading-l" >
      Personal Independence Payment (PIP)
    </h2>

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


                         <p class="govuk-heading-s">Online service</p>
                         <p>View your information using <a href="/e-four/digital-service-2/start">Personal Independence Payment (PIP) online</a> (opens in new tab or window)</p>
                         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

       <p class="govuk-heading-s">DWP - PIP claims</p>

       <ul class="govuk-list govuk-list--bullet">
         <li>Telephone: 0800 917 2222</li>
         <li>Textphone: 0800 917 7777</li>
         <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then 0800 917 2222</li>
         <li>Calling from abroad: +44 191 218 7766</li>
       </ul>


       <p>Monday to Friday, 8am to 5pm</p>
       <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


     <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="S-start">





           <!-- phone numbers group -->
            <p class="govuk-heading-m" > Statutory Sick Pay (SSP)</p>


              <p class="">Contact the HMRC Statutory Payment Disputes Team.</p>

     <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="U-start">






 <!-- phone numbers group -->
 <h2 class="govuk-heading-l" >
   Universal Credit
 </h2>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

  <p class="govuk-heading-s">Manage your benefit, payment or claim online</p>
    <p> <strong><a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Sign in to your Universal Credit account</a></strong> (opens in new tab or window)</p>

  <p></p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

 <p>  Call the Universal Credit helpline if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li> you cannot make an ‘new style’ Employment and Support Allowance application online</li>
    <li> you’re an appointee for someone</li>
    <li> you cannot use digital services at all - this might be because of disability or your circumstances </li>
    <li>you have a question about your Universal Credit claim and cannot access your online claim</li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


  <p class="govuk-heading-s">  Universal Credit helpline</p>

  <ul class="govuk-list govuk-list--bullet">
    <li> Telephone: 0800 328 5644 (choose option 3)</li>
    <li>Textphone: 0800 328 1344 (choose option 3)</li>
    <li>Welsh language telephone: 0800 328 1744</li>
    <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then 0800 328 5644</li>
    <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
  </ul>


  <p>Monday to Friday, 8am to 6pm</p>
  <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" id="W-start">





        <!-- phone numbers group -->
        <h2 class="govuk-heading-l" >
          Winter Fuel Payment
        </h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

           <p class="govuk-heading-s">Winter Fuel Payment Centre</p>

           <ul class="govuk-list govuk-list--bullet">
             <li>Telephone: 0800 731 0160</li>
             <li>Telephone from outside the UK: +44 (0)191 218 7777</li>
             <li>Textphone: 0800 731 0176</li>
             <li>Textphone from outside the UK: +44 (0)191 218 7280</li>
             <li><a href="https://www.relayuk.bt.com/">Reply UK</a>(if you cannot hear or speak on the phone): 18001 then Telephone: 0800 731 0160</li>
             <li> <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a></li>
           </ul>


           <p>Monday to Friday, 9:30am to 3:30pm</p>
           <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>


         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         <p class="govuk-heading-m">Can't find the information you want?</p>


         <p>You can find <a href="https://www.gov.uk/browse/benefits">help and information about other benefits on GOV.UK.</a> You can also find contact details on a recent letter about your benefit. </p>


    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <!-- <p class="govuk-heading-s">Page options</p> -->
    </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-button-list__item govuk-button-list__item--with-icon">
      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon"><img src="/public/images/download_icon.png" alt="download icon"></span>
        <span class="underline">Download</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
        <span class="underline">Print</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/share_icon.png" alt="share icon"></span>
        <span class="underline">Share</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
    </div>

  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>

{% endblock %}
