{% extends "V4-1/Change-your-bank-details-and-2-homepages/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Thank you for testing
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Thank you for testing</h2>
      <!-- <p>We've sent your request to an advisor.</p> -->
      <p>You have completed this part of the survey.</p>
      <p>We will now ask you some questions about your experience.</p>
      <!-- <p> You can use <a href="/e-three/find-information">find out about my DWP benefits</a> service to access information about all your DWP benefits and other awards.      </p> -->
      <a href="finaltimeoutpage.html"" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
