{% extends "V4-1/Change-your-bank-details-and-2-homepages/common/header-without-servicename.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Citizen me
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!--  <h2 class="govuk-heading-m">Citizen Me options</h2>-->
      <!-- <p>We've sent your request to an advisor.</p> -->
      <!-- <p>They time out, they succeed or they press stop.</p>-->
    <!--   <p>Once they do any of the three, they will go to the next question in the survey</p>-->
      <!-- <p> You can use <a href="/e-three/find-information">find out about my DWP benefits</a> service to access information about all your DWP benefits and other awards.      </p> -->

    </div>
  </div>

{% endblock %}
