{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
    Check your phone Service Name – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" data-module="govuk-error-summary">

      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">

          <ul class="govuk-list govuk-error-summary__list">

              <li>

                <a href="#signin-code">Enter your security code</a>

              </li>

          </ul>
        </div>
      </div>
    </div>

            <h1 class="govuk-heading-l">Check your phone</h1>

            <p class="govuk-body">
                We have sent you a text message with your security code.
            </p>

            <p class="govuk-body">
                It might take up to a minute to arrive.
            </p>

            <p class="govuk-body">
                The code will expire in 15 minutes.
            </p>

            <form action="sign-in-2fa-check" method="post">

                <div class="govuk-form-group govuk-form-group--error govuk-!-margin-top-6">
                    <label class="govuk-label" for="2fa-code">
                        Enter your security code
                    </label>
                    <span id="security-code-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter your security code
                    </span>
                    <input class="govuk-input govuk-input--width-10" id="signin-code" name="signin-code" type="text" value="">
                </div>







    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>


            </form>

            <p><a href="sign-in-resend-2fa" class="govuk-link">
                I did not get a text message
            </a></p>

            <p><a href="account-recovery/start-new-phone" class="govuk-link">
                I cannot access the mobile phone number I use to sign in
            </a></p>

        </div>
  </div>

{% endblock %}
