{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  Identity check complete -
        {{ data['service-name']  }}
    - GOV.UK 
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">Identity check complete <h1>
        
        {% if data['service-name'] == '' %}

        {% else %}
        <p>You can now sign in to{{ data['service-name'] }}.</p>
        {% endif %} 
        <p>You have completed the identity check successfully.</p>
        
        {{ govukButton({
          text: "Continue",
          href: "../../../next-payment"
        }) }}
      </div>
    </div>
{% endblock %}




