{% extends "customer-view/common/header-e-four-c2.html" %}
{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  How do you want to find out about your benefits?
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/customer-view/authentication-options" method="post">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Sign in or create an account to check your benefit payments
                  </h1>
            </legend>

            <div class="govuk-inset-text">
              To keep your information secure, we need to verify your identity when you sign in.
            </div>

            <div class="govuk-radios">
              <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="authentication-option-2" name="authentication-option" type="radio" value="signin-options" aria-describedby="authentication-option-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="authentication-option-2">
                  Sign in
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Sign in if you have used this service before.
                </div>
              </div>
              <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="authentication-options" name="authentication-option" type="radio" value="create" aria-describedby="authentication-option-item-hint">
                <label class="govuk-label govuk-radios__label" for="contact-channel">
                  Create an account
                </label>
                <div id="create-account-item-hint" class="govuk-hint govuk-radios__hint">
                  Create an account if this is your first time using the service. 
                </div>
              </div>

              <!-- <div class="govuk-radios__item govuk-!-padding-bottom-3">
                <input class="govuk-radios__input" id="contact-channel" name="contact-channel" type="radio" value="chat-bots" aria-describedby="contact-channel-item-hint">
                <label class="govuk-label govuk-radios__label" for="contact-channel">
                  Use webchat service
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  You can talk to one of our agents over chat to find out more information. You may have to prove your identity for senstive information sharing.
                </div>
              </div> -->
            </div>

          </fieldset>
      </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>



{% endblock %}
