{% extends "customer-view/common/header-e-three-c2-dss.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Proof of benefit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong> &nbsp;
    <strong class="govuk-tag govuk-tag--red">
      Experimental
    </strong> &nbsp;
    <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
    </span>
  </p>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary govuk-body">
        <ul>
          <li>
            <a href="benefit-summary">Home</a>
          </li>
          <li>
            <a href="payments-history">Payment history</a>
          </li>
          <li>
            <a href="" class="active" aria-current="section">Proof of benefits</a>
          </li>
          <li>
            <a href="">Contact history</a>
          </li>
          <li>
            <a href="personal-details">Personal details</a>
          </li>
          <li>
            <a href="">Help</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</main>



{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    



        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Proof of benefits 
                  <span class="govuk-caption-l">
                  Get printed or digital evidence of your benefits 
                  </span>
                </h1>
          </legend>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
    





<!-- <p class="govuk-heading-m">You have 2 active benefits or awards</p> -->
<p>You may need a proof of benefit letter to show your work history, prove that you live in the UK, or that you’re entitled to things like:</p>

<ul class="govuk-list govuk-list--bullet govuk-body">
  <li>free school meals</li>
  <li>help with health costs, like prescriptions or eye tests</li>
  <li>training and travel </li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 class="govuk-heading-l">Your proof of benefit letters</h2>
<ul class="govuk-list">

  <li>
    <a class="govuk-link" href="pob-esa-main">Employment and Support Allowance (ESA)</a>
  </li>
  <li>
    <a class="govuk-link" href="pob-carers-main">Carer’s Allowance</a>
  </li>


<div class="govuk-grid-column-full"><br><hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"></div>


<p><a class="govuk-link" href="telephone-information">Contact us</a> if you:</p>

<ul class="govuk-list govuk-list--bullet govuk-body">
  <li>need us to send a letter to you in an alternative format, such as Welsh or braille</li>
  <li>have recently moved house and need to update your address</li>
  <li>live outside Great Britain or Northern Ireland </li>
</ul>

  <!-- <li>
    <a class="govuk-link" href="b2-status">Request benefit status check</a>
  </li> -->
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">



  

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">

          <!--  <div class="govuk-grid-column-one-third" style="padding-left:0px;">
              <label class="govuk-label" for="overall-statistics">Amount you will receive this month</label>
              <h1 class="govuk-heading-l">
                  £149.00
              </h1>
            </div>
            <div class="govuk-grid-column-one-third">
              <label class="govuk-label" for="overall-statistics">Next amount due</label>
              <h1 class="govuk-heading-l">
                £22.96
              </h1>
            </div>

            <div class="govuk-grid-column-one-third">
              <label class="govuk-label" for="overall-statistics">Next payment date</label>
              <h1 class="govuk-heading-l">
                29 June 2021
              </h1>
            </div> -->

<!-- YOUR UPCOMING PAYMENTS CODE
                  <h1 class="govuk-heading-l">
                  Your upcoming payments
                  <span class="govuk-caption-m">
                  Estimated payments
                  </span>
                  </h1>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Benefit Name</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Due date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td  class="govuk-table__cell " style="text-align:left;">Employment and Support Allowance (ESA) </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£56.70</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">17 February 2022</td>
                      </tr>


                    </tbody>
                  </table>

                  <div class="govuk-inset-text">
                    Your Carer's Allowance has been paused. You have to<a href="contact-history#notifications"> Update your capabilities </a> for the next payment calculation to resume.
           </div>
<br>
                  <p><a href="payments">View your payments</a></p>
      </div>


      </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

     -->

    <!-- Help and support -->
    <!--
        <div class="govuk-grid-column-full" style="padding-left:0px;">

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--hidden">
          <p class="govuk-heading-l">I need more help</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="ask-question">Ask a question</a>
            </li>
            <li>
              <a class="govuk-link" href="telephone-information">Talk to an adviser over a phone call</a>
            </li>

            <li>
              <a class="govuk-link" href="webchat-service">Use webchat service</a>
            </li>
          </ul>

        </div>
      -->
     

<!-- old code
    Help and support
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

          <p class="govuk-heading-m">Help and Support</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="ask-question">Ask a question</a>
            </li>
            <li>
              <a class="govuk-link" href="telephone-information">Talk to an  adviser over a phone call</a>
            </li>
            <li>
              <a class="govuk-link" href="webchat-service">Use webchat service</a>
            </li>
            <li>
            </li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <p><a class="govuk-link" href="i-can't-find-info-ct">I can’t find the information i’m looking for</a></p>

        </div> -->



      <!-- <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Date</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Rate for vehicles</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Rate for bicycles</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First 6 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
      <td class="govuk-table__cell">£59.10 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next 33 weeks</th>
      <td class="govuk-table__cell">£159.80 per week</td>
      <td class="govuk-table__cell">£89.10 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
      <td class="govuk-table__cell">£2,182.20</td>
    </tr>
  </tbody>
</table> -->

    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
<!--
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
    -->
    <!-- <p class="govuk-heading-s">Page options</p> -->
    </div>
    <!--
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-button-list__item govuk-button-list__item--with-icon">
      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon"><img src="/public/images/download_icon.png" alt="download icon"></span>
        <span class="underline">Download</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-button-list__item govuk-button-list__item--with-icon">

      <a href="#" class="govuk-button govuk-button--secondary govuk-button--no-underline">
        <span class="govuk-button-list__icon">    <img src="/public/images/printer-img.png" alt="printer icon"></span>
        <span class="underline">Print</span>
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
      </div>

  

  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   -->

{% endblock %}
