index.html
{% extends "layout.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="../../../testindex.html">Back</a> 
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Scope 2</span>
      Change your address
    </h1>
    <p>This MVP lets users change their address.</p>
    <p>While investigating the business process for this feature, we iterated the ‘task-based’ design to improve on the radio homepage.</p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Iteration 3: three homepages</h1>
    <strong class="govuk-tag">V1.3</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>
    <p>Iterations of three alternative homepage designs in one place.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            General updates:
            <li>simplified radio homepage</li>
            <li>list homepage</li>
            <li>cards homepage</li>
          </ul>
        </div>
      </details>
      <br>
        <p>31 Oct 22 - 23 Dec 22</p>
  </div>
</div>

<div class="govuk-grid-row">    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h1 class="govuk-heading-m">Iteration 2: cards homepage</h1>
    <strong class="govuk-tag">V1.2</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
    <br>
    <p>An alternative to the list homepage, we created this cards design in sprint 19.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>cards homepage</li>
            <li>navigation bar</li>
            <li>new content in personal details:</li>
            <ul>
              <li>change link on phone number - not functional</li>
              <li>check and change bank details content - not functional</li>
            </ul>
          </ul>
        </div>
      </details>
      <br>
        <p>19 Oct 22 - 31 Oct 22</p>
</div>

<div class="govuk-grid-row">    
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h1 class="govuk-heading-m">Iteration 1: list homepage</h1>
  <strong class="govuk-tag">V1.1</strong> &nbsp; <strong class="govuk-tag govuk-tag--purple">Alpha</strong> &nbsp; <strong class="govuk-tag govuk-tag--green"><I></I>Complete</strong><br>
  <br>
  <p>Iteration of the task-based design from sprint 19, showing the homepage as a list.</p>
  <p>This design shows early investigations into the change address feature, which we didn’t test with users as we changed scope.</p>
  
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What's new?
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>list homepage</li>
          <li>users can now ‘check and change’ personal details</li>
          <li>personal details has change link in address section</li>
          <li>questions to understand more about user’s home move</li>
          <ul>
            <li>when did you move</li>
            <li>is your home in the UK</li>
            <li>find address or enter manually</li>
          </ul>
        </ul>
      </div>
    </details>
    <br>
      <p>19 Oct 22 - 31 Oct 22</p>
</div>

    <!--
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Change your bank details iteration 1  and 3 homepages
      </h1>
      <p class="govuk-body">First iteration of the new MVP for the change of bank details feature. </p>
      <p class="govuk-body govuk-!-margin-bottom-6">These designs were created in Alpha sprint 23 and tested in sprint 25, user research round 11.</p>
      <p class="govuk-body">Dates: Dec 14 2022 - Jan 31 2023</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Change your bank details and homepage testing
      </h2>
    </div>
  </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.01</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="radio-homepage/index">Change bank details with radio homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a radio homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (radios)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  -->
<!--
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.02</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="list-homepage/index">Change bank details with list homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a list homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (lists)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  -->
<!--
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3" >
              <div class="govuk-grid-column-two-thirds govuk-!-padding-4" style="border:1px solid #B1B4B6;" >
                <strong class="govuk-tag">V4.03</strong> <strong class="govuk-tag govuk-tag--grey">Completed</strong><br>
                <h1 class="govuk-heading-m govuk-!-margin-top-1"><a href="card-homepage/index">Change bank details with cards homepage</a></h1>
                  <p class="govuk-body-l">Designs to understand how users interact with a cards homepage.</p>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Go to a page in the journey
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list govuk-list--bullet">
                        <li>Start page</li>
                        <li>Homepage (cards)</li>
                        <li>Change my bank details</li>
                        <li>Enter old bank details</li>
                        <li>Enter new bank details</li>
                        <li>Check your answers/li>
                        <li>Confirmation page</li>
                      </ul>
                    </div>
                  </details>
                  
                  <ul class="govuk-list govuk-list--bullet">
                  <li>The all-in-one design lets users view all their benefit information in one place</li>
                  <li>This design shows the team’s work from alpha sprint 1 to sprint 9</li>
                  <li>The team stopped iterating the all-in-one design during sprint 9 in favour of the task-based design</li>
                  </ul>
                  

              </div>
            </div>-->




{% endblock %}