{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Who does the payment belong to?
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="what-benefits-need-to-change.html" method="get" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who does the payment belong to?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Letter" name="who-does-the-payment-belong-to" type="radio" value="Change bank details" formaction="manpage.html">
                <label class="govuk-label govuk-radios__label" for="Letter">
                  Me
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Friend-or-family" name="who-does-the-payment-belong-to" type="radio" value="Friend or family member">
                <label class="govuk-label govuk-radios__label" for="Friend-or-family">
                  Someone else
                </label>
              </div>
            </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
