{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Based on your answers, you can use this service
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Based on your answers, you can use this service</h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You next payment/voucher may already be in progress
        </strong>
      </div>
      <p class="govuk-body govuk-!-margin-bottom-6">You may continue to add your account details using this service, but this change may not happen in time for your next payment. This is because told us that you are expecting a payment/voucher.</p>
      <p class="govuk-body govuk-!-margin-bottom-6">If you continue, your next payment could go into your account on our records now.<p>
          <form action="eligibility-eligible-2" method="post" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Do you want to add your account details using this service?</h2>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Yes-continue" name="Do-you-want-to-continue" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="Yes-continue">
                      Yes, continue
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="No-I-do-not" name="Do-you-want-to-continue" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="No-I-do-not">
                      No, give me contact details
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>

    </div>
  </div>

{% endblock %}
