{% extends "layouts/main.html" %}

{% set serviceName %}
Manage your benefits and State Pension
{% endset%}

{% block pageTitle %}
Before we start the user research scenario - benefits
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="address" method="post">

        <h1 class="govuk-heading-l">Before we start the user research scenario</h1>

        <p>So that we can make our research realistic and accurate, tell us a little more about your situation.</p>

        <p>Your information is confidential and will not be saved.</p>


        {{ govukCheckboxes({
          name: "researchSetUpBenefits",
          value: data['researchSetUpBenefits'],
          fieldset: {
            legend: {
              text: "Which benefits do you get?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
          {
            value: "Attendance Allowance",
            text: "Attendance Allowance"
          },
          {
            value: "Disability Living Allowance (DLA) for adults",
            text: "Disability Living Allowance (DLA) for adults"
          },
          {
            value: "Employment and Support Allowance (ESA)",
            text: "Employment and Support Allowance (ESA)"
          },
          {
            value: "Income Support",
            text: "Income Support"
          },
          {
            value: "Industrial Industries Disablement Benefit",
            text: "Industrial Industries Disablement Benefit"
          },
          {
            value: "Jobseeker’s Allowance",
            text: "Jobseeker’s Allowance"
          },
          {
            value: "Pension Credit",
            text: "Pension Credit"
          },
          {
            value: "Personal Independence Payment (PIP)",
            text: "Personal Independence Payment (PIP)"
          },
          {
            value: "State Pension",
            text: "State Pension"
          },
          {
            value: "I get a different benefit",
            text: "I get a different benefit"
          }
        ]

        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
