{% import 'change-address/v2/common/_globals.html' as globals %}
{% extends globals.common + "header.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
    Talk to an adviser over a phone call
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
    

            <form class="form" action="/address_look_up/search1" method="post">
      
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Select your address
                      </h1>
                      <p class="govuk-!-margin-top-4"><b>No addresses found for '52' and 'NE25 1XX'</b> &nbsp;&nbsp;&nbsp;<a href="{{globals.url_version_sub}}circumstances/cora/search-pattern">Change</a></p>
                    </legend>
                  <p><a href="{{globals.url_version_sub}}circumstances/cora/enter_address_pattern">Enter your address manually</a></p>
                    </div>
                  </fieldset>
                </div>
      
        
      
          </form>

    </div>
  </div>

{% endblock %}