{% extends "layout.html" %}

{% block pageTitle %}
  Customer View internal prototype homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">  <a href="andy.html" class="govuk-link govuk-link--no-visited-state">Andy's Protype.</a></p>
      <p class="govuk-body">  <a href="newindex.html" class="govuk-link govuk-link--no-visited-state">testing Prototype.</a></p>
      </div>
      </div>

{% endblock %}