{% extends "layouts/main.html" %}

{% block pageTitle %}
  Customer view prototype
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
            Customer View prototypes
            </h1>

            <p>Customer View lets people view and do things with their benefits and State Pension online.</p>
            <p>During beta, we are designing two features, including:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
            <li>change your bank details</li>
            <li>view their personal details</li>
            <li>check your payments and get a proof of benefit letter</li>
            <li>change your address</li>
            <li>change your bank details and view your personal details</li>
            </ul>

            <p>During alpha, we designed several features, including:</p>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#change-bank-details">
              Change your bank details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#change-address">
            Change your address
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#check-your-payment">
                Check your payments
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#discovery-experiments">
                Discovery experiments
            </a>
          </li>
        </ul>
        <!-- TAB1: Change bank details -->
        <div class="govuk-tabs__panel" id="change-bank-details">

            <div class="govuk-!-margin-bottom-2">
                <strong class="govuk-tag govuk-tag--purple">
                    Alpha
                </strong>
                <strong class="govuk-tag govuk-tag--yellow">
                    Beta
                </strong>
                <strong class="govuk-tag govuk-tag--blue">
                    In Progress
                </strong>
            </div> 
            
            <h2 class="govuk-heading-l">Change your bank details</h2>

            <p class="govuk-body govuk-!-font-weight-bold" style="color: #505a5f;">December 2022 - Today</p>

            <p>This MVP lets users change their bank details and view their personal details.</p>

            <p>We’ve iterated these designs during the alpha and beta phase.</p>

            <p><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1676039285458/ea027964c48725e9d276a2294c86f6b81efa62eb?sender=uce3c70a63d831a88364d6151" class="govuk-link">This MVP lets users change their bank details and view their personal details.</a></p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


            <div class="govuk-!-padding-6 govuk-!-margin-top-9 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 30/31</strong> <strong class="govuk-tag">completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                <span class="govuk-caption-m">December 2023</span>
                <h1 class="govuk-heading-m">Round 7</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">In round 7, we A/B tested:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>a call logging journey that starts in the same area of the design as the call history</li>
                <li>a design with a call-to-action to log the details of the call on every page </li>
                <li>We also did testing in this round with users that had accessibility needs</li>
                </ul>
                <div class="govuk-!-margin-top-4">
                <a href="ur7-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
            </div>
        </div>

        <!-- TAB2: Development baseline prototype-->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="change-address">
            
          <div class="govuk-!-margin-bottom-2">
            <strong class="govuk-tag govuk-tag--purple">
                Alpha
            </strong>
            <strong class="govuk-tag govuk-tag--green">
                Complete
            </strong>
        </div> 
        
        <h2 class="govuk-heading-l">Change your address</h2>

        <p>Oct 2022 - Nov 2022</p>

            <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 30/31</strong> <strong class="govuk-tag">completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                <span class="govuk-caption-m">December 2023</span>
                <h1 class="govuk-heading-m">Round 7</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">In round 7, we A/B tested:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>a call logging journey that starts in the same area of the design as the call history</li>
                <li>a design with a call-to-action to log the details of the call on every page </li>
                <li>We also did testing in this round with users that had accessibility needs</li>
                </ul>
                <div class="govuk-!-margin-top-4">
                <a href="ur7-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
            </div> 
        </div>


        <!-- TAB3: Check your payments and get a proof of benefit letter-->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="check-your-payment">
            <h2 class="govuk-heading-l">Check your payments and get a proof of benefit letter</h2>

            <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 30/31</strong> <strong class="govuk-tag">completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                <span class="govuk-caption-m">December 2023</span>
                <h1 class="govuk-heading-m">Round 7</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">In round 7, we A/B tested:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>a call logging journey that starts in the same area of the design as the call history</li>
                <li>a design with a call-to-action to log the details of the call on every page </li>
                <li>We also did testing in this round with users that had accessibility needs</li>
                </ul>
                <div class="govuk-!-margin-top-4">
                <a href="ur7-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
            </div>
          
        </div>

        <!-- TAB4: Discovery Experiments -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="discovery-experiments">
          
          <div class="govuk-!-margin-bottom-2">
            <strong class="govuk-tag govuk-tag--purple">
                Alpha
            </strong>
            <strong class="govuk-tag govuk-tag--green">
                Complete
            </strong>
        </div> 
        
        <h2 class="govuk-heading-l">Check your payments and get a proof of benefit letter</h2>

        <p>Feb 2022 - June 2022</p>

            <div class="govuk-!-padding-6 govuk-!-margin-top-6 govuk-!-width-two-thirds" style="background-color:#f3f2f1; border-radius:10px;">
                <div class="govuk-!-text-align-right"><strong class="govuk-tag govuk-tag--purple">Sprint 30/31</strong> <strong class="govuk-tag">completed</strong></div>
                <div class="govuk-!-padding-top-1 govuk-!-padding-bottom-0">
                <span class="govuk-caption-m">December 2023</span>
                <h1 class="govuk-heading-m">Round 7</h1>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">In round 7, we A/B tested:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>a call logging journey that starts in the same area of the design as the call history</li>
                <li>a design with a call-to-action to log the details of the call on every page </li>
                <li>We also did testing in this round with users that had accessibility needs</li>
                </ul>
                <div class="govuk-!-margin-top-4">
                <a href="ur7-user-research-prototypes.html" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">View prototype</a>
                </div>
            </div>
            
        </div>
        
    
        </div>
    </div>
</div>


{% endblock %}