{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/header-with-signed-out.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Before you change bank details-Do you want to continue?
{% endblock %}


{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Before you change bank details
      </h1>
      <p class="govuk-body">It can take up to two working days to update your details on our records.</p>
      <div class="govuk-inset-text">
      If your benefits stay the same and you are not expecting any changes to your claim, any future payments will go into your new account.
    </div>
      <form action="esa-New-bankdetails" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to continue?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interview-needs" name="interview-needs" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="interview-needs">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interview-needs-2" name="interview-needs" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="interview-needs-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
