{% extends "layout.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="date-first-payment" method="post" autocomplete="off">

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-l">Confirm your identity</span>
            <label for="benefit-cap-amount" class="govuk-label govuk-label--l">Enter the amount that your Housing Benefit is reduced by because of the benefit cap</label>
          </h1>
        </legend>
        <span id="benefit-cap-hint" class="govuk-hint">
          For example, enter 96.35
        </span>
        <div class="currency-input">
          <div class="currency-input__symbol" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-10" id="benefit-cap-amount" name="benefit-cap-amount" type="text" aria-describedby="benefit-cap-hint">
        </div>
      </div>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can stay on this page for up to 20 minutes if you need to check your answer.</p>
          <p>If you need more time, you can try again later. You might be asked a different question.</p>
        </div>
      </details>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}