{% extends "layout.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="freq-housing-benefit-payment" method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="entitlement-start-date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Confirm your identity</span>
              What was the start date of your current claim for Housing Benefit?
            </h1>
          </legend>
          <div id="entitlement-start-date-hint">
            <p class="govuk-hint">You can find this on a decision letter. For example, enter 1 4 2020.</p>
          </div>
          <div class="govuk-date-input" id="entitlement-start-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="entitlement-start-date-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-start-date-day" name="entitlement-start-date-day" type="text" pattern="[0-9]*" maxlength="2" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="entitlement-start-date-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entitlement-start-date-month" name="entitlement-start-date-month" type="text" pattern="[0-9]*" maxlength="2" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="entitlement-start-date-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="entitlement-start-date-year" name="entitlement-start-date-year" type="text" pattern="[0-9]*" maxlength="4" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have this information now
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You can stay on this page for up to 20 minutes if you need to check your answer. Make sure you leave your web browser open if you need to use another app on your phone.</p>
          <p>If you need more time, you can try again later. You might be asked a different question.</p>
        </div>
      </details>

      <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}