{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
  You need to start your registration again -
        {{ data['service-name']  }}
    - GOV.UK
{% endblock %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You need to start your registration again</h1>

            <p>This is because the wrong security code was entered too many times.</p>

            {{ govukButton({
                text: "Start again",
                href: "start"
            }) }}
        
        </div>
    </div>
{% endblock %}
