{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-user-testing-2/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have signed out
{% endblock %}


{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-with-OIDV-journey-not-tested/common/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have signed out</h1>
    <p class="govuk-body govuk-!-margin-bottom-9">You can now close this window.</p>
    <a href="../list-homepage/list-home-page" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Sign back in
    </a>

  </div>
</div>

{% endblock %}
