{% extends "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/header-task-based-start.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
  Whose payments are you changing?
{% endblock %}

{% block beforeContent %}
  {% include "V42_2-Change-bank-details-user-testing-2/Change-bank-details-user-testing-2/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="eligibility-question-3" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Whose payments are you changing?
              </h1>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Yes-for-my-own" name="Do-you-need-to-change-bank-details-for-your-own-benefit-payments" type="radio" value="Yes for my own">
                <label class="govuk-label govuk-radios__label" for="Yes-for-my-own">
                  My own
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="No-for-my-child" name="Do-you-need-to-change-bank-details-for-your-own-benefit-payments" type="radio" value="No, for my child">
                <label class="govuk-label govuk-radios__label" for="No-for-my-child">
                  My child’s
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="No-for-a-person-I-am-an-appointee-for" name="Do-you-need-to-change-bank-details-for-your-own-benefit-payments" type="radio" value="No, for a person I am an appointee for">
                <label class="govuk-label govuk-radios__label" for="No-for-a-person-I-am-an-appointee-for">
                  I am an appointee
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    If you manage another person’s benefits or State Pension
                </div>
              </div>
            </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
