{% extends "/check-your-payment/v3/common/layout-header-links-no-home.html" %}

{% block pageTitle %}
Confirm your identity
{% endblock %}

{% block beforeContent %}
{% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/idv/v4/kbv-external-3/idv-success" method="get" autocomplete="off">

      <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-label-wrapper">
              <span class="govuk-caption-l">Confirm your identity</span>
              <label for="benefit-amount" class="govuk-label govuk-label--l">
                Which of these phone numbers have you had?</label>
            </h1>
          </legend>
      </div>


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="q1" name="kbv" type="radio" value="Answer 1" aria-describedby="confirm-identity-hint-1">
                  <label class="govuk-label govuk-radios__label" for="q1">
                    07789 123321
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="q2" name="kbv" type="radio" value="Answer 2" aria-describedby="confirm-identity-hint-2">
                  <label class="govuk-label govuk-radios__label" for="q2">
                    07890 444777
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="q3" name="kbv" type="radio" value="Answer 3" aria-describedby="confirm-identity-hint-3">
                  <label class="govuk-label govuk-radios__label" for="q3">
                    07665 665556
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="q4" name="kbv" type="radio" value="Answer 4" aria-describedby="confirm-identity-hint-4">
                  <label class="govuk-label govuk-radios__label" for="q4">
                    01926 850941
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="q5" name="kbv" type="radio" value="Answer 5" aria-describedby="confirm-identity-hint-5">
                  <label class="govuk-label govuk-radios__label" for="q5">
                    01718 789325
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <button data-module="govuk-button" type="submit" class="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
