{% import 'V3/common/_globals.html' as globals %}
{% extends globals.common + "header.html" %}
{% extends globals.common + "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block beforeContent %}
    {{ super() }}
    <a class="govuk-back-link" href="{{globals.url_version_sub}}circumstances/cora/address_location">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
      {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
          {
          text: "prop" if errorProperty else null,
          href: "#UKRES"
          },
          {
            text: "post" if errorPostcode else null,
            href: "#UKRES"
          }
      ]
      }) }}
      {% endif %}
      <form action="search-pattern" method="post" novalidate>

        <span class="govuk-caption-l">Residential</span>
        {% call govukFieldset({
          legend: {
            text: "Find your address",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}
        {{ govukInput({
          label: {
            text: "Property number or name"
          },
          errorMessage: { text: "errorProperty"} if errorProperty else null,
          classes: "govuk-input--width-10",
          id: "address-property",
          name: "address-property",
          autocomplete: "address-property"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          errorMessage: { text: "errorPostcode"} if errorPostcode else null,
          classes: "govuk-input--width-5",
          id: "address-postcode",
          name: "address-postcode",
          autocomplete: "postal-code"
        }) }}

        {{ govukButton({
          text: "Find address"
        }) }}

        {% endcall %}

        <script>
          function singleAddress() {
            document.getElementById('address-property').value = "12";
            document.getElementById('address-postcode').value = "LS1";
          }

          function multiAddress() {
            document.getElementById('address-property').value = "22";
            document.getElementById('address-postcode').value = "LS2";
          }

          function noAddress() {
            document.getElementById('address-property').value = "34";
            document.getElementById('address-postcode').value = "LS3";
          }
        </script>

        <p><a href="{{globals.url_version_sub}}circumstances/cora/enter_address_pattern" >Enter your address manually</a></p>
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://govuk-prototype-kit.herokuapp.com/",
        text: "GOV.UK Prototype KitS " + releaseVersion
      },
      {
        href: "/prototype-admin/clear-data",
        text: "Clear data"
      },
      {
        href: "javascript:singleAddress();",
        text: "Single address"
      },
      {
        href: "javascript:multiAddress();",
        text: "Multiple address"
      },
      {
        href: "javascript:noAddress();",
        text: "No address"
      }
    ]
  }
}) }}
{% endblock %}