{% extends "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/header-task-based-start.html" %}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do your benefits get paid into a UK bank account?
{% endblock %}

{% block beforeContent %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/phase-banner.html" %}
  {% include "V4_3-Change-bank-details-user-testing-3/Change-bank-details-iteration-3/common/welsh-language-toggle.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="eligibility-question-6" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do your benefits get paid into a UK bank account?
              </h1>
            </legend>
            <div class="govuk-inset-text">
              You can check your bank’s address in your online banking account, on paper statements or letters from your bank.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-uk-bank-account" name="paid-into-UK-bank-account" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="yes-uk-bank-account">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-overseas account" name="paid-into-UK-bank-account" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="no-overseas account">
                  No, my bank is overseas
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="not-sue" name="paid-into-UK-bank-account" type="radio" value="not-sue">
                <label class="govuk-label govuk-radios__label" for="not-sue">
                  I’m not sure
                </label>
              </div>
            </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>

{% endblock %}
