{% set isHMRCPage = true %}

{% extends "customer-view/common/layout.html" %}

{% block pageTitle %}
We need to ask some questions to prove your identity
{% endblock %}

{% block serviceName %}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

<form method="post" action="/idv/hmrciv/idv-success">

    <h1 class="govuk-heading-xl">
        We need more information before we can confirm your identity
    </h1>

    <p class="govuk-body">You can go back and <a href="choose-2-items.html">choose different items for  us to ask you about</a>.</p>
    <p class="govuk-body">If you cannot give us details about these items, you can <a href="#">confirm your identity another way</a>.</p>

</form>

{% endblock %}